[2016-11-02 12:09] harshil93 opened #1 "Any plans for releasing images for Windows Containers ??"
Since Windows Server 2016 is out, are there any plans for releasing images for Windows Containers ?

[2016-11-04 09:50] DjTrilogic commented on #1
+1

[2016-11-07 23:37] coreyperkins opened #2 "Not found docker: null"
Anybody seen this one, with the latest ubuntu-16.04 image?

sudo docker run -e VSTS_ACCOUNT="myaccount" -e VSTS_TOKEN="mytoken" -e VSTS_AGENT="docker" -v /var/run/docker.sock:/var/run/docker.sock -it microsoft/vsts-agent:ubuntu-16.04

The agent gets connected to our vsts but when a build is triggered we get that message (Not found docker: null).

Thanks for any and all help.

Corey

[2016-11-07 23:54] stepro commented on #2
The problem is likely because your image doesn't include the docker CLI. Try using "microsoft/vsts-agent:ubuntu-16.04-docker-<ver>" where <ver> is 1.11.2 or 1.12.1 depending on your host daemon version.

[2016-11-08 00:59] stepro commented on #1
It's a reasonable assumption to make that these would exist. @chrisrpatterson, what do you think?

[2016-11-08 02:13] coreyperkins commented on #2
Thanks Stephen! I'm new to vsts and this was a big help!

[2016-11-08 02:13] #2 closed

[2016-11-15 19:07] chrisrpatterson commented on #1
We would like to, however, in my experiments I have had a difficult time getting most of the toolsets that one would expect to work on Windows working in a container.  We could get one working with a similar set of tooling that we are offering in the Linux containers, however, I don't think  you would have the full feature of VS there yet.

[2016-11-15 19:08] chrisrpatterson opened #3 "TFS versioned images shuold take a full TFS Url instead of VSTS account."
The TFS images are targeted on TFS users not VSTS users and the expectation to configure the agent will be the URL of your TFS server instead of your VSTS account.

[2016-11-27 15:19] ups216 commented on #3
Is this working with TFS 2017 at all? I was excited about the tag "ubuntu-16.04-tfs-2017" but found no document on how I can run it and connect to TFS 2017.

[2016-11-27 17:50] stepro commented on #3
We should have this working and fully documented in about two weeks.

[2016-11-28 01:29] ups216 commented on #3
thanks @stepro
It will be great if we can do agentless configuration. Trigger build will docker run an agent then do the work inside the container and then clean up the agent totally.

[2016-11-29 04:52] stepro commented on #3
@ups216 I think that's a desired scenario eventually. @chrisrpatterson can comment more on the work they are doing around Dockerizing of agents in general.

[2016-12-03 17:43] acesyde opened #4 "Support of git version"
Hi,

Today I use agent on DC/OS Azure but when I tried to build with git version this error failed the build

[code]

Can you add git version support on vsts agent image ?

Thank you

[2016-12-05 19:13] stepro commented on #4
The VSTS agent that runs in DC/OS is using a Docker container whose base image is an Ubuntu Linux distribution. There is no support for tasks written in Powershell when running on that platform, at least as it currently stands.

[2016-12-05 19:48] acesyde commented on #4
Thank you @stepro for this information

[2016-12-05 19:48] #4 closed

[2016-12-12 10:17] Tharnas opened #5 "Is TFS on premise supported?"
What do I have to provide for VSTS_ACCOUNT and VSTS_TOKEN on an onpremise installation? Where can I provide where the TFS server is located? (e.g. http://192.168...:8080/tfs)

[2016-12-12 16:46] stepro commented on #5
This isn't working yet - we will hopefully have the changes in this week.

[2016-12-12 16:48] stepro commented on #5
See #3.

[2016-12-12 16:56] #5 closed

[2016-12-14 14:18] TGippert opened #6 "Wrong Path to JAVA_HOME"
Hi,

Java builds are not working for the image "microsoft/vsts-agent:ubuntu-16.04-docker-1.11.2-standard".
ERROR:
[code]

**Reason:**
Wrong ENV JAVA_HOME in DockerFile for image "microsoft/vsts-agent:ubuntu-16.04-docker-1.11.2-standard"
The correct path (working for me) to java is `/usr/lib/jvm/java-8-openjdk-amd64` instead of `/usr/lib/jvm/default-java`

**Workarounds:**
a) Set JAVA_HOME at docke

[2016-12-14 19:57] stepro commented on #6
This issue has been fixed and the images have been updated.

[2016-12-14 19:57] #6 closed

[2017-01-06 17:55] stepro opened #7 "Update docker-compose to latest version"
This enables version 2.1 amongst other things.

[2017-01-06 18:05] stepro commented on #7
Note: this should only be updated when the Docker engine is 1.12.0 or above.

[2017-01-06 21:22] stepro commented on #7
I take that back - only when using version 2.1 of compose does it require Docker engine 1.12.0 or above. So it can still be used for version 2.0 against engine 1.11.2.

[2017-01-13 21:37] maxklock opened #8 "No maven, visualstudio or azureps capabilities found"
I'm running the vsts-agent with the command:

    docker run
        --name vsts-agent -d
        -e VSTS_ACCOUNT=<accont>
        -e VSTS_TOKEN=<token>
        -e VSTS_AGENT=vsts-agent-azure
        -e VSTS_POOL=Azure
        -it microsoft/vsts-agent:ubuntu-16.04-docker-1.12.1-standard

but when queue a new build, I'm getting the error, that there is no maven capabilitie. Even visualstudio or azu

[2017-01-14 17:12] stepro commented on #8
The current Docker images are based on Ubuntu Linux and as such can only run Linux workloads. This means that Visual Studio and Azure PS capabilities aren't expected to be available. However, maven is installed in the standard image but it must not be exposed properly. I will look into it.

[2017-01-14 17:31] stepro commented on #8
Well the configuration between the hosted agent pool and this agent image is different. In the hosted agent pool, the "maven" capability points at the directory where maven is installed. In the custom agent, the "maven" capability points at the binary executable and also sets M2_HOME to point at the directory.

However, these differences shouldn't matter. The Maven task demands the "maven" capabil

[2017-01-15 09:46] maxklock commented on #8
Task configuration:

    Maven pom.xml
        clean compile package
    Copy files to
        Source: $(build.sourcesdirectory)
        Target: $(build.artifactstagingdirectory)
    AzureBlob File Copy
        Source: $(build.artifactstagingdirectory)

The Agent in the Docker Image is started as "vsts-agent-azure" in pool "Azure"

Queue new build:

    Queue: Azure
    Branch: master

By clicking

[2017-01-16 22:58] stepro commented on #8
According to the error message, it is looking for an agent with "maven" and "azureps" capabilities. The Maven task only demands "maven" so you must have another task that is demanding "azureps". Azure PowerShell is not available on Linux so this agent doesn't support that capability.

[2017-01-16 22:58] #8 closed

[2017-01-29 17:55] rs38 commented on #1
Checked https://github.com/Microsoft/vsts-agent-docker/tree/windows/windows ?

[2017-01-29 17:59] artisticcheese commented on #1
Anybody could comment if they were successful running Windows container image?

[2017-02-01 12:59] xtophs commented on #1
I've been able to build and run a Windows Container with the VSTS agent from this repo. Unfortunately, you can't run the container to execute Windows Container builds because that would require running Docker inside the Windows Container that's running the agent. If you're looking to build windows containers, you have to run the agent on a WS2016 VM.

[2017-02-03 23:34] xtophs commented on #1
I published a little write up on building Windows Containers here:

https://github.com/xtophs/vsts-building-windows-server-containers

[2017-02-10 18:20] cantacuzene opened #9 "issue with cli task"
Hello guys,

Not sure this is a bug but I'm having an issue while trying to cp my $(Build.ArtifactStagingDirectory) into a shared folder.

The shared folder is mounted within the container in /share/dropfolder with mount.cifs

My failling build cli task is the following one:

[code]

The distination folders are properly mkdired (with -p option) in a previous task but the cp  crashes with the follo

[2017-02-10 19:20] stepro commented on #9
The error message indicates that it is the source directory that is the problem, not the target. Is there any chance that "/vsts/agent/_work/1/a" doesn't exist?

[2017-02-10 22:12] cantacuzene commented on #9
No it clearly exists in the container :
* it's a folder created by the vsts agent
* I can ls in it
* when i Run the cp command with docker exec it works.

I figured it was some kind of permission issue.

[2017-02-11 17:33] stepro commented on #9
Ah. When you specify command line arguments in the VSTS task, it isn't performing shell expansion of the wildcard. That is, it interprets '/vsts/agent/_work/1/a/*' literally, so it is looking for a file named '/vsts/agent/_work/1/a/*' and not expanding this to all the files in that directory.

You can simulate what the VSTS task does from a command line by enclosing the source spec in single quote

[2017-02-11 17:33] #9 closed

[2017-03-02 07:51] enricforn opened #10 "Authentication issue"
We just install TFS2017 on premise version 15.105.25910.0.

I'm trying to run an agent to a container by running the following command:

docker run -e TFS_HOST=tfs.mycompany.com -e TFS_URL=https://tfs.mycompany.com -e VSTS_TOKEN=************************** -e VSTS_AGENT=%hostname% -e VSTS_WORK=_work -e VSTS_POOL=docker -it microsoft/vsts-agent:ubuntu-16.04-tfs-2017

And I'm getting this output:

Bu

[2017-03-02 10:46] Franklin89 opened #11 "How can i build my dotnet core application?"
I have the docker standard image. It states that the .NET Core sdk is instaled. But I can not run and dotnet commands...I want to run the dotnet restore and dotnet build. But not sure which VSTS Tasks to use? Using the new VSTS Build views.

Any hints?

[2017-03-02 12:25] Franklin89 commented on #11
Found the issue...if using the new Preview Feature: **New Build Editor** there might be some issue with the cmd line runner.

[2017-03-02 12:25] #11 closed

[2017-03-02 12:30] Franklin89 opened #12 "update dotnet version"
I wanted to use the ubuntu-16.04-docker-1.12.1-standard image to run my .net core build. I am using VS2017 RC for development. The build output shows that that a older version of dotnet is installed.

/usr/bin/dotnet --version
1.0.0-preview2-003131

Task         : Command Line
Description  : Run a command line with arguments
Version      : 1.1.2
Author       : Microsoft Corporation
Help         :

[2017-03-02 17:11] stepro commented on #12
We should update the dotnet version to something more recent. @chrisrpatterson how do you want to deal with versions of tools inside the standard image? If we update it, then everyone will receive the update, that is, there's no way to easily lock down to a particular snapshot of tool versions.

[2017-03-06 11:33] thiagoaos opened #13 "Docker container without tty"
I am using this image microsoft/vsts-agent:ubuntu-16.04-docker-1.11.2
to use docker in docker.

Docker cli is working but when i try to run a docker command happens this error.

/usr/local/bin/docker exec -it base-php-fpm ls
cannot enable tty mode on non tty input

without t option works but i cant get stdout.
How can i enable tty?

thx

[2017-03-10 11:59] thiagoaos commented on #13
ls here is just a exampe.
I want to run a bash script that i created.

/usr/local/bin/docker exec -it base-php-fpm sh docker.sh

[2017-03-10 13:36] stuartleeks commented on #12
Now that VS2017 is RTM, can we get a version of the vsts-agent with the RTM .NET Core SDK installed?

[2017-03-10 16:09] stepro commented on #13
So long as that script is not interactive, that should work fine without the need for -it. What is in your script and what are you observing? Can you reproduce the issue with a local docker instance?

[2017-03-10 16:15] stepro commented on #12
That makes sense. Let me see if I can publish a refresh of the images today.

[2017-03-10 16:16] stuartleeks commented on #12
Thanks - that would be great! Save me messing around to create a custom image :-)

[2017-03-10 18:09] thiagoaos commented on #13
docker-compose.yml

[code]

PHPDockerFile

[code]

docker.sh

[code]

Command to run a docker agent

[code]

Build process definition in TFS i have 3 steps

1 get git source of current project
2 docker compose with docker-compose.yml file in project root and run services image with action
3 docker command with this command exec -it base-php-fpm sh docker.sh

Buid execution with tty

[code]

Buid e

[2017-03-13 07:44] jmezach opened #14 "Building Windows image hangs after installing choco packages"
I noticed that a version for Windows has landed in this repo, so I tried to built it myself. However, building the standard image seems to hang after first wave of Chocolatey packages have been installed. Is that a known issue? Anything I can help with? Would love to give this a try.

[2017-03-13 09:21] stuartleeks commented on #12
Hi @stepro - just bumping this :-)

[2017-03-13 13:54] artisticcheese commented on #14
What docker log shows?

[2017-03-13 16:10] stepro commented on #12
@chrisrpatterson<mailto:Chris.Patterson@microsoft.com>, I'm unsure of the implications of doing this. If there are compatibility breaks between 1.0.0-preview2-003131 and RTM (quite possible), blindly updating the "standard" image, which isn't versioned, is going to cause problems. I think we might want to move at least to a model where the standard images are followed by a version indicator, even

[2017-03-13 16:12] stepro commented on #10
Thanks for reporting the issue. @chrisrpatterson, I was never able to get a TFS on-prem instance up and running so I couldn't validate that the changes to support TFS were going to work. Can you help @enricforn?

[2017-03-13 16:20] stuartleeks commented on #12
If you do that, it would be really helpful to have a page that lists each tagged version and what is contained within it (including versions) :-)

[2017-03-14 13:56] stepro commented on #12
Yes I think having a date based tag is a good idea.

I was also thinking about the model we have around repositories.  Is it the right thing to have a single repository for the agent and then dozens of tags or should we really have a different repository for each flavor of the agent.  For example you don’t have a single repository for windows and then tags for servercore and nanoserver.

From: Ste

[2017-03-14 14:57] jmezach commented on #14
After aborting docker build and retrying it a couple of times I've now build an image successfully. Haven't tried to run it yet though ;).

[2017-03-14 17:33] stepro commented on #12
We could choose to separate Windows and Linux into separate Docker Hub repositories. It's worth pointing out that most repositories on Docker Hub do tend to support multiple base Linux OS images, e.g. ubuntu, alpine, centos. While supporting various Windows base OSes is clearly a bigger jump, I think it wouldn't be unexpected if we kept everything in one repository. On the other hand, there is the

[2017-03-15 19:44] stepro commented on #12
I have pushed some versioned standard images that include dotnet 1.0.1. You can find details of what's in the versioned images (currently, only 20170315) in the ubuntu/derived/standard README.md.

[2017-03-16 08:22] stuartleeks commented on #12
Great news. I'm out of the office today, but will give this a test tomorrow :-)
Thanks!

[2017-03-16 18:06] anznpatel opened #15 "Git LFS support"
enabling "checkout files from LFS" via VSTS build definition settings causes a failure in the build
`Git-lfs installation failed with exit code: 1`

tried to install git-lfs by manually ssh-ing into the node where the vsts agent is hosted, via the following commands
`curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash`
`apt install git-lfs`

this installed

[2017-03-24 15:42] stepro commented on #3
I just pushed updates to the README.md that describe how the TFS images can be used. Please take a look and see if it works for you. It remains unclear to me how authentication works for the on-prem TFS scenario.

[2017-03-24 15:42] #3 closed

[2017-03-25 16:28] stepro commented on #10
@enricforn, can you describe how you are currently installing and starting agents that successfully connect to your on-prem instance? I assume the image's startup script is incorrect for the on-prem case but since I don't have an on-prem server to test against, I don't know where the issue is. Thanks!

[2017-03-25 16:35] stepro commented on #13
Looking at your configuration more, how is the docker.sh file getting into the container? Is that part of your volume mapping in the docker-compose file? If so, unless your current working directory is /var/www/base, it isn't going to find docker.sh.

[2017-03-27 11:53] saikatguha commented on #7
+1 to update docker-compose to latest version.

docker-compose 1.11.2 fixed a major performance bug where recursive wildcard patterns ** were not being recognized in .dockerignore files. This bug was often the culprit for invalidating docker cache.

[2017-03-27 19:49] stepro commented on #7
The images have been updated.

[2017-03-27 19:49] #7 closed

[2017-03-27 19:56] stepro commented on #12
I have updated the documentation to fully describe which standard images include dotnet 1.0.1 and the latest standard image now uses this version.

[2017-03-27 19:56] #12 closed

[2017-03-28 14:35] enricforn commented on #10
@stepro I'm using negotiate authentication to configure the agent, and is working fine. If you think is interesting, I can create a pull request by adding this feature to the project. PAT authentication seems is not working properly. However, I tried with VSTS and is working fine.

[2017-03-28 20:18] stepro commented on #10
I'd love to see a PR that shows how the startup.sh script needs to be fixed, since I'm in the dark without an on-prem server to test against. Thanks!

[2017-03-30 17:32] AmitBhatnagar24 opened #17 "Container stuck in "Restarting" When Docker Daemon is Restarted"
Using vsts-agent:ubuntu-16.04-docker-1.12.1-standard.

When run via

`docker run --restart=always <blah> -d microsoft/vsts-agent:ubuntu-16.04-docker-1.12.1-standard `.

and if the docker service is restarted, the vsts-agent-docker container does not recover from the "Restarting (xx minutes)" . This is causing perception issues that this is not reliable and is preventing adoption of this for our no

[2017-03-30 18:10] stepro commented on #17
Interesting that this doesn't work. We've been successfully running VSTS agents in DC/OS for a long time and DC/OS has an automatic restart policy that seems to work fine. There was very explicit work done around SIGTERM to ensure it gracefully cleans up when you send it a SIGTERM (or SIGINT). I'll take a look.

[2017-03-30 18:17] AmitBhatnagar24 commented on #17
@stepro thanks. I appreciate it.

perhaps some more relevant info:

`uname -a
Linux myServer.me.not.you 3.10.0-327.13.1.el7.x86_64 #1 SMP Mon Feb 29 13:22:02 EST 2016 x86_64 x86_64 x86_64 GNU/Linux`

`docker --version
Docker version 1.10.3, build 20f81dd`

[2017-03-30 18:40] AmitBhatnagar24 commented on #17
@stepro Some details about the potential fixes from the forked repo I mentioned above:

https://github.com/ppanyukov/vso-agent-docker/issues/21

[2017-03-30 19:23] stepro commented on #17
Ok, this has nothing to do with SIGTERM handling. The issue is that start.sh has some incorrect handling for the case where you stop and restart the container. When you stop, it removes the agent from VSTS and as a result, loses its configuration. When you start it again, it identifies that the /vsts/agent directory already exists and assumes that the agent has been pre-configured (this scenario i

[2017-03-31 23:40] stepro commented on #17
The fix has been pushed and all the Docker Hub images are updated.

[2017-03-31 23:40] #17 closed

[2017-04-01 18:53] stepro commented on #15
All the images now support git lfs.

[2017-04-01 18:53] #15 closed

[2017-04-02 20:39] DenisBiondic commented on #1
Isn't this stating that docker is possible to run under nano / windows server core:
https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/deploy-containers-on-server
https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/deploy-containers-on-nano

or am I completely not understanding the issue above? We are takling about executing "docker

[2017-04-03 08:29] rs38 commented on #1
the initial issue/question is, if there is an docker image (pref. on Docker Hub) that has bundled ( a.k.a docker build) a working vsts agent on either nano or core.

[2017-04-07 10:16] seven1986 opened #19 "Invalid configuration provided for username. Terminating unattended configuration."
[code]

[2017-04-07 21:44] stepro commented on #19
Which image tag are you using?

[2017-04-08 02:43] seven1986 commented on #19
Hi, @stepro, here is my command line
[code]

![image](https://cloud.githubusercontent.com/assets/20808494/24824974/3533a0ea-1c48-11e7-95fa-43c7d80103fa.png)

[2017-04-08 18:41] stepro commented on #19
It looks like you are using TFS_HOST but providing a full URL to your server. Try setting the TFS_URL environment variable instead.

[2017-04-09 04:26] seven1986 commented on #19
It still tell me the same error
[code]

[2017-04-09 08:06] seven1986 commented on #19
![image](https://cloud.githubusercontent.com/assets/20808494/24835795/071ba0ee-1d3e-11e7-853a-57e998f58f75.png)

my account：wangzhen
              or ：AGMOSTUDIO\wangzhen

here is token：
7v4m2gzmwwpw4wbb76x3tvzdjic6hvsuz2iw5fcorvhqv6ntk5xq

server：https://tfs.agmostudio.com/tfs

I try  many times， always can not work....

please have a try，thanks a lot!

[2017-04-10 12:53] stffabi commented on #10
Adding `--auth` and the token seemed to fix the problem for us.
[code]

[2017-04-10 13:01] stffabi commented on #10
I've opened a PR for this.

[2017-04-10 16:03] stepro commented on #19
Ok, the token is not being passed in the command line. See #10, and #20.

[2017-04-10 16:03] #19 closed

[2017-04-10 16:10] #10 closed

[2017-04-10 18:04] jorisdebock opened #21 "Is it possible to run the agent as a docker service?"
Is is possible to run the agent as a docker service?

I tried to following without success.
[code]

[2017-04-10 20:42] stepro commented on #21
I would *think* that this should work. What's the error you are seeing?

[2017-04-11 02:10] jorisdebock commented on #21
I am not seeing any error, that is kind of the problem.

The "docker service create" command just schedules the task so I am not able to see direct output messages. If I try to read the logs with "docker service logs" it will return that this is not possible with the "--tty" parameter. If I leave out the "--tty" parameter the logs command returns empty.

[2017-04-11 02:58] jorisdebock commented on #21
Ok I just tried again with the above command and suddenly it is working as expected. No idea why the first 15 times it didn't work and now it does all the time... The only thing that has changed is that I also created a docker service with portainer, but that shouldn't make a difference.

[2017-04-11 13:48] stuartleeks commented on #12
Thanks @stepro :-)

[2017-04-12 17:51] stepro commented on #21
Ok, let me know if you run into the problem again. Closing the issue for now.

[2017-04-12 17:51] #21 closed

[2017-04-14 15:09] jsturtevant opened #22 "Using Docker Containers to build source inside VSTS Docker Agent"
When using the ```docker``` image ```microsoft/vsts-agent:ubuntu-16.04-docker-17.03.0-ce-standard```
 as VSTS build agent on a linux machine, after my step to build the code files are not being outputted.  I am using a docker container to do the build and have the output mapped to a volume on the container that is being used for the build.

I believe this is because the docker commands are be pass

[2017-04-17 06:03] seven1986 opened #24 "How can I install Nuget,MSBUILD,Webdeploy"
Now,I use ubuntu-16.04-tfs-2017-docker-17.03.0-ce-standard for build agent, very good, thanks!
But I need Nuget、MSBUILD、Webdeploy， could you tell me how can I include this in the image?

[2017-04-17 18:09] stepro commented on #24
The current dotnet tools in the image include MSBuild, so that should be covered. I think Nuget might be part of that as well. I don't know if there is a .NET Core build of Webdeploy. In general, it's going to be hard to include all the tools that cover a majority of the VSTS tasks because many of them require tools that are only Windows based.

Can you tell me which specific tasks you are trying

[2017-04-18 01:53] seven1986 commented on #24
![image](https://cloud.githubusercontent.com/assets/20808494/25111314/c9bbae98-241c-11e7-90b1-313a2c770839.png)
We use this task

[2017-04-18 16:53] stepro commented on #24
@chrisrpatterson, is there any expectation that the existing MSBuild task will work with the Linux-based images? Given that the dotnet toolset comes with a version of MSBuild now?

[2017-04-18 18:46] chrisrpatterson commented on #24
No we don't have any plans for those changes as there is currently only a small set of MSBuild tasks and targets that work on Linux and those are targeted for .NET Core so you should just use dotnet build and let that call MSBuild directly.  WebDeploy does not exist for Linux and I do not know of any plans in that area.

[2017-04-19 02:29] seven1986 commented on #24
@stepro  @chrisrpatterson  Thanks for your help!
and， are there some ideas that I can build and publish my aspnet core project? thanks

[2017-04-19 15:47] stepro commented on #24
I believe there are some VSTS tasks that work for ASP .NET core projects. Look for a template called "ASP .NET Core (PREVIEW)" when creating a new build definition.

[2017-04-20 01:08] seven1986 commented on #24
谢谢啦❤❤

[2017-04-20 01:08] #24 closed

[2017-04-21 22:54] stepro commented on #22
The right way to do this is to set the VSTS_WORK environment variable to a location other than under /vsts/agent, say under /var/vsts, and then volume map the /var/vsts folder.

[2017-04-26 07:59] getrostt opened #25 "Using TFS_HOST environment variable not working for TFS server"
When using the `vsts-agent-docker` in combination with an on premise TFS 2017 server using the `TFS_HOST` environment variable produces a http url. As mentioned in [vsts-agent Issue 695](https://github.com/Microsoft/vsts-agent/issues/695) the authentication with a PAT token requires a https connection.

I am aware that I can set the url using the `TFS_URL` environment variable to configure the cor

[2017-04-26 16:23] stepro commented on #22
Closing this issue; let me know if the solution I suggested isn't working for you.

[2017-04-26 16:23] #22 closed

[2017-04-26 16:24] stepro commented on #13
@thiagoaos, I'll close this issue for now but feel free to re-open if you still have a problem.

[2017-04-26 16:24] #13 closed

[2017-04-26 16:28] stepro commented on #25
I think this makes sense. Is the default port of 8080 still the right port to use for https, or should it be changed to 443?

[2017-04-30 18:53] Hirayuki opened #26 "issue with connecting to vsts"
i have already opened an issue:

https://github.com/Microsoft/vsts-agent/issues/943

should I copy here ?

*************
I have a docker cluster behind a VPN. And also I have a TFS on visualstudio.com, I have downloaded TFS agent container, and want to connect to our TFS but it cannot connect with an alarm of:

[code]
It can ping google.But cannot ping public TFS. I would consider this as a networ

[2017-05-01 19:07] stepro commented on #26
If you run an arbitrary image (e.g. ubuntu:16.04) and try to curl/ping something.visualstudio.com, does it work?

[2017-05-02 07:19] Hirayuki commented on #26
ping is not working. tried arbitrary image

[2017-05-02 15:58] stepro commented on #26
It looks like ping doesn't work against *.visualstudio.com addresses (even without VPN, it isn't working). Can you try curl instead (and if it doesn't work, include -v for verbose output)?

[2017-05-03 00:34] jsturtevant commented on #22
Thanks, adding the environment variable and volume mapping the location worked!  Much simpler.

[2017-05-04 07:44] nrandell opened #28 "Cannot find module "./dockerComposeCommand""
I'm trying to use this to run some docker compose commands, but I keep coming up against a problem where it cannot find a module.

I'm running on an Ubuntu 16.04 host, running the agent as

[code]

When running, I see the following issues (**_Cannot find module './dockerComposeCommand'_**)

[code]

This happens no matter the command I create.

[2017-05-04 13:45] Hirayuki commented on #26
curl did not find any problems, it shows it is redirected to another link. which certificate is use while connecting to VSTS server and in which port by default?

[2017-05-04 17:57] stepro commented on #28
This looks like an issue with the specific VSTS task, which comes from the microsoft/vsts-tasks repo. Can you open the issue there? Thanks!

[2017-05-04 17:57] #28 closed

[2017-05-04 23:29] stepro commented on #26
Ok, getting further. It seems to be a problem specific to the download URL for the correct version of the VSTS agent. I believe that is actually a reference to GitHub. Do you have any VPN restrictions around access to github.com?

[2017-05-05 07:10] Hirayuki commented on #26
Thanks @stepro . Found the issue. I have added IP to white list, and everything worked. It seems IP was blocked and it was shown as SSL issue, wget also was not working.

[2017-05-05 07:10] #26 closed

[2017-05-05 17:05] jwittner commented on #1
Would really love if the base windows ones were available as tagged versions here: https://store.docker.com/community/images/microsoft/vsts-agent

[2017-05-08 05:41] stffabi opened #29 "Container can't restart after stop"
We are using the TFS on prem container images and currently have the problem that sometimes when the container gets stopped, the agent registration is not removed. Therefore after a restart of the container, the container exits with the information

[code]

The only possibility to bring it up again, is to completely remove the container and create a new one.

[2017-05-08 06:30] getrostt commented on #25
Sorry, for the late response. Port 8080 makes indeed not much sense when using HTTPS. Port 443 as default sounds reasonable to me.

[2017-05-15 17:55] stepro commented on #29
I don't think this is the right way to solve this problem. There was some previous changes to the unversioned script (ubuntu/start.sh) that addressed this issue in a manner that better reflects how it would work in an uncontainerized environment. Basically, on startup, the container determines if it was previously running and if so, it executes a fast path to restarting the agent process with the

[2017-05-15 18:47] stepro commented on #29
Looking back at things, this change makes sense. The unversioned and versioned scenarios are different and I think the behavior here is the most appropriate thing. I'm making a few fixes around restart in the unversioned case and will push these changes (along with some others) today, and rebuild and push the images.

[2017-05-15 18:47] #29 closed

[2017-05-17 16:05] stepro commented on #25
The images have been updated to use https://$TFS_HOST/tfs as the default TFS_URL.

[2017-05-17 16:05] #25 closed

[2017-05-20 22:46] newtack opened #32 "Docker version support"
Per https://github.com/Microsoft/vsts-agent-docker/blob/master/ubuntu/16.04/docker/1.12.1/standard/Dockerfile it looks like you only support docker version 12.
When is support for 17 planned for, especially looking for multistage build support

[2017-05-22 15:59] stepro commented on #32
The [README](https://github.com/Microsoft/vsts-agent-docker/blob/master/README.md) describes images for docker 1.11.2, 1.12.1 and 17.03.0-ce. Multi-stage build support is available in 17.05.0-ce, but this is not a stable channel release. We'll publish an official image with the next stable release, which I believe will be 17.06.0-ce. If you want to try multi-stage build before then, you can take t

[2017-05-22 22:02] newtack commented on #32
Thanks for your helpful answer.

[2017-05-22 22:02] #32 closed

[2017-05-31 01:48] jabbera opened #33 "Windows Container Host/Image repo"
It would be great if I could point TFS or VSTS at an image repo and a container host (Server 2016) and it could manage the lifetime for me. There isn't really a need to keep the image up and running all the time. When a build request hits the pool can start a docker image, do the build, save the artifacts, then rmi the image. People can mutate the build environment as they need as part of the buil

[2017-06-01 17:24] stepro commented on #33
@chrisrpatterson, this is an interesting suggestion for how someone could enable their own on-demand agent pool without changing the design of the VSTS agent. Perhaps there could be a special type of pool that is configured with a container host and image and it would be able to easily start up an agent as needed and throw it away at the end. Thoughts?

[2017-06-01 17:43] jabbera commented on #33
I glossed over it but it would also significantly reduce the number of build environments (images) we need to maintain. As part of the build users can install any 3rd party applications they need to build since we can let them run as admin in the docker container. The environment is epeheremal so they can install whatever they want (ala appveyor).

[2017-06-05 19:36] lisaong opened #34 "CMake in Linux docker images?"
My team uses CMake in our builds.  We would love to use Hosted Linux Agent preview for our continuous integration builds in the cloud, but currently the images have CMake on them, so we have to setup a local Linux box in the default queue.

Is it possible to update the docker images to install CMake (the same version that's support in the hosted Windows machines)?

[2017-06-05 21:35] stepro commented on #34
@thechrisjohnson, any concerns with adding cmake to the standard images?

[2017-06-09 15:07] thechrisjohnson commented on #34
No, I don't think that would be a problem. And I'm sure other people would benefit from it being added.

[2017-06-09 15:18] ppanyukov commented on #34
@lisaong You can always package your version of CMake into a docker image and do `docker run` on the hosted linux agent. That's what we do with all our tools. And if you are too lazy, you can do `sudo apt-get install whatever`. Last time I checked, this worked too (a bit worrying but hey!).

[2017-06-09 17:17] lisaong commented on #34
Thanks for all the suggestions, I'll give the custom docker image a try.

________________________________
From: Philip Panyukov <notifications@github.com>
Sent: Friday, June 9, 2017 8:18:55 AM
To: Microsoft/vsts-agent-docker
Cc: Lisa Ong; Mention
Subject: Re: [Microsoft/vsts-agent-docker] CMake in Linux docker images? (#34)

@lisaong<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%

[2017-06-13 16:39] julioct opened #35 "How to use the VS2017/Dockerfile?"
Found this docker file in this repo:
**windows/servercore/10.0.14393/standard/VS2017/Dockerfile**

Which seems to use this as the base image:
**microsoft/vsts-agent:windows-10.0.14393**

However if I do docker pull microsoft/vsts-agent:windows-10.0.14393 I get this:
**Error response from daemon: manifest for microsoft/vsts-agent:windows-10.0.14393 not found**

How to use that docker file?

[2017-06-13 17:13] stepro commented on #35
The Windows container Dockerfiles are a work in progress. I believe there is a blocking issue related to licensing right now. @chrisrpatterson, can you comment?

[2017-06-27 14:26] jabbera commented on #33
Hi. Just curious if there has been any internal discussion about this possibility. I'm so tired of managing everyones build machines:-)

[2017-06-30 15:48] magol commented on #3
How do I do if my TFS 2017 server use a self signed https?
I only get errors if I try to use it, so I guess it must have the certificate to access the server.

[2017-06-30 16:19] stepro commented on #3
For that to work, I believe you'll need to derive a new image from the existing image and register your specific SSL certificate as trusted. Depending on how you are running the image, you might also be able to volume map the certificate file(s) into the container when you run it.

[2017-07-05 14:20] fabiostawinski opened #36 "Copy files not working on the Windows Image creation"
When I tried to create the image it got this error:

[code]

Seems that the copy is not working to copy my context to the image.

[2017-07-07 23:08] shmatkotija commented on #34
We are also trying to use the Hosted Linux Pipeline and interested in using cmake. Thanks!

[2017-07-10 05:45] StefanScherer commented on #35
Seems like you have to build the base image first with this: windows/servercore/10.0.14393/Dockerfile

[2017-07-10 10:43] hardcorehead87 opened #37 "Timezones in ubuntu based agent"
We have tests running on the hosted linux preview agents that fail because timezones are missing.
When running a small test on the following docker images I get these results;

[code]

[2017-07-19 07:38] hardcorehead87 commented on #37
As stated in the following **[issue](https://github.com/docker-library/official-images/issues/2863#issuecomment-294607003)** TZDATA has been removed from the upstream ubuntu image for space savings.
This however causes parts of dotnet to malfunction because it depends on this data being available.
The intended solution is to manually add the required package.

[2017-07-19 08:20] hardcorehead87 commented on #37
Fixed in #39

[2017-07-19 19:45] stepro commented on #34
The official standard Docker images have been updated to include cmake.

[2017-07-19 19:45] #34 closed

[2017-07-20 16:34] stepro commented on #37
Merged #39.

[2017-07-20 16:34] #37 closed

[2017-08-03 16:28] leontyr commented on #22
Is it possible to use "Hosted Linux Preview" agent to build docker project? If yes, where can I add VSTS_WORK?

[2017-08-03 16:37] stepro commented on #22
You should be able to use the hosted Linux preview agent, at which point you don't need to specify VSTS_WORK - that is already configured by the hosted agent. Is there a specific issue you are having with the sample code you attached where it is not working?

[2017-08-03 16:43] leontyr commented on #22
It's in the build on VSTS. Here is the error:

[code]

[2017-08-03 16:55] stepro commented on #22
@thechrisjohnson, how do you configure the VSTS agent work folder in the hosted Linux build agent? The host directory and the directory in the container must be the same for this scenario to work.

[2017-08-03 17:05] thechrisjohnson commented on #22
For the Hosted Linux Preview pool, the agent is actually running in a container with the docker.socket file mapped in from the host. The work folder for the agent is directly mapped from the Host too (/opt/vsts/work of the host to /opt/vsts/work in the container). You should be able to figure out the full path of the file you want to copy into the container and the same file will exist on the Host

[2017-08-03 17:09] stepro commented on #22
Ok, based on this setup, the scenario should work. @leontyr, can you describe what you are doing in your build definition? I am assuming you run a docker-compose task that consumes docker-compose.ci.build.yml which when run, should output the obj/Docker/publish directory. Then in the subsequent Docker build task, it's failing to locate the files that were just built. Is that correct?

[2017-08-03 17:17] leontyr commented on #22
My build was created by Continuous Delivery Tools for Visual Studio. Looking at the definition, it contains 'Get sources', 'Build an image preview docker' and 'Push an image preview docker'. 'Docker Compose' is not there.

[2017-08-03 17:23] stepro commented on #22
Ok, there is likely a tools mismatch problem here. You managed to get a docker-compose.ci.build.yml file into your project, but the CD tools for VS don't know how to take advantage of that file. You'll need to add a task that actually invokes your docker-compose.ci.build.yml file so that the compilation steps occur before trying to build your Docker image. Take a look at the "Docker Compose" task

[2017-08-03 17:26] jsturtevant commented on #22
Sounds like it might be something else but I was able to get this working with the following.  (should have posted it back when i got it working):

[code]

I did a [blog post](http://www.jamessturtevant.com/posts/Using-the-VSTS-Docker-Agent/) on it a while back  if you want more details about all the different settings.

[2017-08-03 19:05] djeeg opened #41 "Request: ubuntu-16.04-docker-17.06.0-ce"
Hi

Really digging the upgrades to [VSTS+Docker integration] and [Azure+Container Registry] that have happened in the last 6 months. Its so much easier to get going.

Unfortunately I have upgraded all my images to multi-stage build, and I balk at having to re-provision my own agent host.

The new verison of docker has been out for a while, is there an ETA on the new agent container being created?

[2017-08-03 20:02] leontyr commented on #22
Ok, let me give it a go. Thank you, guys!

[2017-08-04 07:01] aumanjoa opened #42 "Windows VS2015/2017 images having a not longer valid base images"
I get this error running the VS2015 and VS2017 standard Docker images

Step 1/23 : FROM microsoft/vsts-agent:windows-10.0.14393
manifest for microsoft/vsts-agent:windows-10.0.14393 not found

[2017-08-04 07:04] aumanjoa commented on #36
Hi
That is working perfectly for me.
Have you validated that the Start.cmd and Stars.ps1 is in the same directory as your Dockerfile where you run the docker build command?

[2017-08-04 07:05] #42 closed

[2017-08-07 13:41] fabiostawinski commented on #36
Yes, they are

[2017-08-08 13:44] sesispla opened #43 "Error in .NET Core: The file type was not recognized"
We've been using Hosted Linux Preview images in the last months, in order to build Linux Containers for a Azure Container Service + Kubernetes cluster.

In the last days, we've noticed that our VSTS Build jobs are broken (find log below).

Al information found on the net talks about an old scenario where .NET Core was switching from .json to .csproj.

If we switch to Hosted VS 2017 the Restore com

[2017-08-08 13:48] sesispla commented on #43
Wrong forum. sorry.

[2017-08-08 13:48] #43 closed

[2017-08-16 19:22] stepro commented on #41
This image is now available.

[2017-08-16 19:22] #41 closed

[2017-08-16 19:23] stepro commented on #41
To be clear, it is NOT yet available in the Linux Hosted Preview agent pool, only the docker hub images have been provided.

[2017-08-16 19:43] jmezach commented on #35
Any updates on this? Is there still a licensing issue? I would love to put our on-premises agents into containers.

[2017-08-17 05:34] tomkerkhove opened #44 "MSBuild support"
Are there plans to an image with MSBuild capabilities?
This requires a Windows container ofcourse.

[2017-08-17 20:12] stepro commented on #44
The Linux containers include the .NET Core SDK, which effectively includes a .NET Core version of MSBuild. However, if you want full MSBuild capabilities, then you need a Windows container. That ask is covered by #1.

[2017-08-17 20:12] #44 closed

[2017-08-23 01:33] xynova opened #45 "Improve linux based agents to run under a vsts:vsts id instead of root"
I guess this would be more of an improvement to tighten security. Currently if I run as root, that agent can potentially hack into the system or have access to all other containers running on the same engine.

https://github.com/Microsoft/vsts-agent-docker/blob/0d013f268898773a6d85db3ba8c2a14f3c82ea50/ubuntu/start.sh#L63

[2017-08-23 04:10] stepro commented on #45
We started here, but for a variety of reasons this didn't work out. One of the reasons I remember had to do with when the VSTS agent is used for running tasks that are themselves containerized (e.g. enabled via the built-in Docker and Docker Compose tasks).

The common usage of Docker to run tasks involves sharing the cloned source code via a volume map, so the VSTS agent syncs the code and the ta

[2017-08-23 04:10] #45 closed

[2017-08-24 08:42] flatwound opened #46 "Dockerfile for windows failing on visualstudio installation"
Hi,

i've used the dockerfiles for windows in the past  with success, but currently when I try to rebuild it, it fails on the step installing visual studio 2017 enterprise (chocolatey fails to install it with error code 255).
I've tried to download the vs_enterprise.exe from aka.ms directly and try to install that, but no matter what, I can't get it installed. Anybody have a suggestion?

[2017-08-24 13:21] xynova commented on #45
I understand the problem and yes, Docker and root is a bit of a face palm. Having said this, an option is to enable vsts user as a sudoer through a switch when creating the agent. I find the agent truly useful for pushing and deploying stuff into on prem or private vnet machines. I am thinking about using gosu to tighten the security and see how it goes similar to what nginx container does or used

[2017-08-24 13:28] xynova commented on #45
There are a few things that can be done to ensure security when running docker.

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_atomic_host/7/html-single/container_security_guide/

[2017-08-24 13:56] xynova commented on #45
just read this about sudo

You should avoid installing or using sudo since it has unpredictable TTY and signal-forwarding behavior that can cause more problems than it solves. If you absolutely need functionality similar to sudo (e.g., initializing the daemon as root but running it as non-root), you may be able to use “gosu”.

[2017-08-24 19:26] stepro commented on #45
If you run as a non-root user that is a sudoer or equivalent, then surely a malicious task could invoke such an action and therefore gain root access to the container. It looks like the preferred approach to trying to secure a Docker container is to remove capabilities so that even if it runs as root, that root isn't able to do many of the things that root on the host can do. Just remember that if

[2017-08-24 21:47] xynova commented on #45
I would just enable sudo or gosu in cases where root privileges are required and try to drop everything else by default. Reaching the perfect security spot takes time and can really only be done incrementally one step every time.

I am not using docker to build docker nor to orchestrate containers. The scenario where I want to restrict security is the following: I am using VSTS to push ansible pla

[2017-08-24 22:32] xynova commented on #45
it seems to be happy with setenforce 1 and --cap-drop=all --cap-add=chown --cap-add=fowner

[2017-09-01 09:41] fgather commented on #46
Hi,

I can reproduce the issue. Same with the professional version. Did you find a solution yet?

[2017-09-01 09:51] jmezach commented on #46
I saw the same issue when I used version 10.0.14393.1593 of the microsoft/windowsservercore base image. The reason it fails is because of some WPF dll that is missing, which causes the installer to crash.

Moving down to 10.0.14393.1358 of microsoft/windowsservercore fixed that problem, but now the installer just takes a long time. So far my builds have timed out after two hours.

[2017-09-01 10:17] kirkone opened #47 "Question: How to prepare for strucktural changes in this repo"
Hello,

I am working on a Pull request with some more platforms. I am working on CentOS and Windows Server images at the moment.
In preparation for this I want to rearrange some files and folders. Should I provide a single PR with all changes or should I provide a PR with this Folder changes first?

I hope this is the right place to ask.
Greetings, KirK

[2017-09-01 12:35] fgather commented on #46
Thanks, falling back to the old windows image solved at least the vs installation issue!

[2017-09-05 16:38] stepro commented on #47
Can you give a brief description of the file/folder rearrangement? Or if you have already made these changes, feel free to submit a pull request with just those changes first and I'll take a look. Thanks!

[2017-09-06 00:20] habeebtc commented on #35
Any update?

I also had the unpleasant experience of trying to make the docker packages out on GitHub work with the new Azure Container Instances, only to find that the image microsoft/vsts-agent:windows-10.0.14393  has been pulled from the public repo.

It looks like the only option is to roll one's own?  Is there a way to make this work via Docker Swarm with Windows nodes?

[2017-09-06 09:42] kirkone commented on #47
This is what I have so far:
![image](https://user-images.githubusercontent.com/15778270/30105162-0b8bdb78-92f8-11e7-9ef7-1a03324a20d0.png)

The plan is to get this integrated in this repo. I think the main point is to devide Windows and Linux.

[2017-09-06 18:50] stepro commented on #47
Ok, so is it fair to say that what you've done is to move the existing ubuntu directory under the Linux directory, and moved the existing build.sh, dirs.sh, push.sh and update.sh into the ubuntu directory? And then created a sibling directory with similar artifacts for the centos images? This seems reasonable. We'd want to keep latest.tag and tags-md.sh in the root.

[2017-09-11 14:09] kirkone commented on #47
Hi,
this image is from a working dir not related to this repo but I want to integrate my work in this repo.
I think the best start ist to do a PR with the folder changes first and than later on to integrate CentOS and Windows.
I will start working on this first PR asap.

Should I leave this issue open as a discussion place for the PR?

Greetings, KirK

[2017-09-11 19:58] kirkone commented on #47
@stepro I am not sure how the latest.tag have to look like when there are multiple OS. Maybe it is not the best idea to have one image name with tags for 3 different systems because of there can only be one latest. But which one should it be?
In the end there will be tags like this:

microsoft/vsts-agent:ubuntu-16.04-...
microsoft/vsts-agent:centos-7.3.1611-...
microsoft/vsts-agent:windows-core-17

[2017-09-12 07:18] jorgearteiro commented on #46
I published mine here: https://hub.docker.com/r/jorgearteiro/vsts-agent-vs2017/ with some comments.
I will create a Pull Request.
Try build with docker build -m 4gb -c 2 -t <your image name> .
Something with docker build on Windows. Should take 2 hours when you do that.
I am using microsoft/windowsservercore:10.0.14393.1480 as base image now, but it's not on Dockerhub yet. I will push soon.

[2017-09-12 16:00] stepro commented on #47
The issues you raise are the reason why we didn't get into multiple OSes yet. There has been some internal discussion as to whether we should have multiple Docker Hub repositories and/or multiple GitHub repos to represent all the eventual image combinations.

While there is some precedence starting now for single image repositories containing both Linux and Windows images, I have not seen reposito

[2017-09-12 17:35] kirkone commented on #47
Hi,

the reason for choosing CentOS was by demand of a customer who wanted a dotnet core app that has to be build on CentOS (do not ask my why). So I started building my own images heavily based on this repo. You mentioned in the readme that CentOS is planned also, so I thougt this is my chance to do my part for this. In my spare time I fiddled around with the Windows images and translated the .sh

[2017-09-12 18:53] stepro commented on #47
Ok. If we want to proceed with CentOS support, we will need to choose some defaults so that there can be a "latest" tag. There can be different latest images for different architectures (e.g. Linux amd64 vs. Windows amd64), but not different latest images within a particular architecture (e.g. Ubuntu vs. CentOS), so we'll need to decide that one of these is the default Linux amd64 OS. I think that

[2017-09-12 23:39] heaths commented on #46
We are aware of a change that prevents the bootstrapper from loading WPF as of .1593. As you noted, using an older tag will work around this. If you want to decrease install time and container image size, you can also pass `--nocache` and choose what workloads you want using `--add` as described at https://docs.microsoft.com/en-us/visualstudio/install/use-command-line-parameters-to-install-visual-

[2017-09-14 17:55] stepro commented on #47
Thanks @nschonni. What they are doing in the docker-node repo makes a lot of sense. @kirkone, I need to think about this a little. Feel free to send a PR for what you have so we can review it.

[2017-09-19 15:38] stepro commented on #47
I've recently checked in some changes that revamp how the images are built to optimize for faster build times. During this time I considered options for larger structural changes, but I ultimately decided that the structure of the repo was relatively sound given the unique requirements of the VSTS agent images in terms of a multi-dimensional matrix of supported combinations. The only thing missing

[2017-09-27 18:10] gravufo commented on #33
I'll add my voice to this. It would be very helpful to any build master!

[2017-10-10 11:54] dogtail9 commented on #35
I also want an update on this. Trying to create a Docker image with the BuildAgent on Windows. I tried most of the stuff google told me to. Use old version of microsoft/windowsservercore but I get the same error every time. The chocolatey packages for the Visual Studio workloads exits with the error code 1.

[2017-10-18 21:11] AdnanCukur commented on #41
I'm getting

# docker images
Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?

Running the standard version of the image on a windows host

[2017-10-18 21:17] stepro commented on #41
Did you volume map the docker socket into the container?

[2017-10-18 21:25] AdnanCukur commented on #41
Gaah! Thanks 👍

[2017-10-18 22:23] AdnanCukur commented on #41
For some reason my vsts-agent can't connect to my docker-registry when i try pushing my image there,

I'm running these commands
docker build . -t docker-registry:5000/adoit
docker push docker-registry:5000/adoit

The push refers to a repository [docker-registry:5000/adoit]
Get https://docker-registry:5000/v2/: dial tcp: lookup docker-registry on 139.162.139.5:53: no such host
/usr/local/bin/docke

[2017-10-18 23:53] stepro commented on #41
The reason this isn't working is because docker is running on the host and you are accessing the daemon via your vsts-agent container. The docker-registry instance you are running is part of your composed set of containers and on a special network that the host can't directly access. This is why DNS resolution of "docker-registry" doesn't work. It doesn't explain why mapping docker-registry to 127

[2017-10-19 21:27] AdnanCukur commented on #41
Yeah i published port 5000 to the host but I really don't want to do that.

How would you suggest I connect the vsts-agent to the docker registry ?

[2017-10-20 01:52] stepro commented on #41
I don't know of another way of running a local registry that would work. You could try docker-in-docker, but I wouldn't recommend that. What's behind your concern about running a registry on the same host as the Docker daemon? The port doesn't need to be accessible outside of the local machine.

[2017-10-23 19:30] chrisrpatterson commented on #14
From what I have seen it does not exactly hang but takes a very long time to commit due to Antimalware running.

[2017-10-30 21:17] kirkone commented on #47
Hi,

sorry for being late on this but I had some head aches while thinking the best way to get this right.
I put my work for the windows agents on hold because I ran inti some trouble to get it working with our company proxy.
I will put together my work so far to add the centos support and in the next step we can decide what is the best way to add the windows images.
I will go over all my scripts

[2017-11-14 14:39] Spiderbezno opened #51 "Can uses this image to connect with my Team fundation servie in my private cloud of my company?"
In my company we buy the Team Foundation Server(TFS), we can use this images to create agents with docker??

[2017-11-14 15:12] #51 closed

[2017-11-17 00:50] ljt91 commented on #1
+1 - Would love to have Windows images.

[2017-11-21 20:38] pascalberger opened #52 "Add image for TFS 2018"
With TFS 2018 being RTM a agent image for it should be available

[2017-11-22 17:26] stepro commented on #52
I can do this. @chrisrpatterson, @thechrisjohnson, what's the agent version I should use for TFS 2018 RTM?

[2017-11-28 07:12] patrickfraley opened #53 "An error occurred while sending the request."
Hi,
I am trying to get a docker vsts agent running and get the following error message:

[code]

The command I am using is:

[code]
Of course the TOKEN in the command above is beeing replaced by a valid token and TFSHOST is beeing replaced by a resolveable hostname.

Things I have checked:

- The docker Server has access to the TFS Server (actually it itself had a agent running)
- I tried differen

[2017-11-28 07:22] patrickfraley commented on #53
Ok I tried something new, by setting the, based on documention, optional env variables VSTS_POOL and VSTS_WORK in the command to the default values and now I get the following error message:

[code]

[2017-11-28 11:51] hanxinimm commented on #52
@stepro it is vsts-agent-win7-x64-2.122.1.zip

[2017-11-28 19:23] stepro commented on #52
@hanxinimm, there isn't Windows container support yet for these images. @pascalberger, are you asking for a Linux image?

[2017-11-28 19:27] thechrisjohnson commented on #52
Yes, @stepro the TFS 2018 RTM versions can be found at https://github.com/Microsoft/vsts-agent/releases/tag/v2.122.1

[2017-11-28 19:31] stepro commented on #53
The best I can suggest here is to take a look at the container's startup script and compare how it is trying to run the agent to how you have successfully run the agent on the same node directly. The script is [here](https://github.com/Microsoft/vsts-agent-docker/blob/master/ubuntu/16.04/tfs/2017/docker/17.06.0-ce/standard/start.sh).

[2017-11-28 20:40] stepro commented on #52
Ok, I'll build a new set of (Linux) images for TFS 2018.

[2017-11-29 08:00] patrickfraley commented on #53
Is there a switch, with which I can disable the security check that the basic auth would be allowed over http?  Since this is in our internal network that should not be a problem.

[2017-11-29 16:36] stepro commented on #52
The images have been updated.

[2017-11-29 16:36] #52 closed

[2017-11-29 16:39] stepro commented on #47
Hi @kirkone, sorry for the long delay here - this dropped off my notification list. Please feel free to submit a PR from your fork to the main repository so that I can more easily review the code and add comments.

[2017-11-29 16:42] stepro commented on #53
That would be a feature of the VSTS agent itself, and right now, I don't believe so. @chrisrpatterson, can you comment?

[2017-11-30 06:45] patrickfraley commented on #53
Somehow it must work, since we have two agents running on windows machines, that do not seem to have this problem ...  I just don't know how they where started or installed.

[2017-12-01 06:10] stepro commented on #53
Ah, ok. So there is a way with the agent. Can you look at what parameters are being passed to the agents running directly on the Windows machines? I think it's possible they are using Windows authentication to securely authenticate with the server which isn't possible from a Linux-based agent.

[2017-12-01 09:02] marc-mueller opened #54 "Docker commands in container do not work anymore"
Hi,

I just updated our build containers to the latest version of ubuntu-16.04-docker-17.06.0-ce-standard.

If I'm using the agent with VSTS, the following error occurs when building a docker image:
[code]

What changed so far? Did I miss something? I only updated the container, nothing else.

Thanks
Marc

[2017-12-01 16:49] stepro commented on #54
There was a recent update of the images, but I'm not seeing a regression on this. How are you launching the container?

[2017-12-01 20:43] marc-mueller commented on #54
I'm using an azure container services deployment with Kubernetes. There is a volume mount for the docker socket in the configuration.

[code]

Any suggestions what could have changed?

[2017-12-01 21:55] stepro commented on #54
Ok, the issue occurs only when using the docker-compose CLI - missed that part. I'll look into it.

[2017-12-01 22:01] stepro commented on #54
Actually it still isn't reproducing for me (I had forgotten to volume mount the docker socket). Only docker-compose gives the error message you are seeing, but only when I don't volume mount the socket. In this case, the docker CLI is more helpful:

[code]

I think what's happened is Kubernetes restarted the Docker daemon while your container was running and the running container lost the socket c

[2017-12-01 22:09] marc-mueller commented on #54
I deleted and recreated the agent pods, no luck. Still the same error.

[2017-12-01 22:35] stepro commented on #54
Interesting. Can you manually exec into the container and see if "docker images" works? Alternatively, you could try to run a VSTS Docker task (rather than a Docker Compose task).

[2017-12-01 22:46] marc-mueller commented on #54
I executed a build with a shell script where I executed  `docker images` and it provided the correct results. so it definitely has to be something with docker compose.

[2017-12-01 23:02] marc-mueller commented on #54
I changed the build process to use the docker task and it works now. Currently I can live with that, but I still wonder what causes the error with docker-compose

[2017-12-02 00:28] stepro commented on #54
That is quite strange. I've never seen a state where docker works and docker-compose does not. It's possible that if I upgrade the version of docker-compose (currently 1.15) to the latest that it would work.

If you're interested, you could try to run the following command inside the container to upgrade to the latest docker-compose CLI and try running a docker compose VSTS task after that:

[code

[2017-12-02 01:00] RobCannon opened #55 "Authentication issues with TFS"
I was not able to get these images to work successfully with our on-premise TFS server, but I have a solution.

Our server is not using https, so trying to authenticate with a PAT token will fail.  The solution is the use Negotiate authentication.  Here is a part of how I modified the start.sh file in my container image:

./bin/Agent.Listener configure --unattended \
  --agent "${VSTS_AGENT:-$(hos

[2017-12-02 10:42] marc-mueller commented on #54
Unfortunately I still have the same error. Docker-compose was updated but ends with the same error about docker.

[code]

[2017-12-02 22:37] stepro commented on #54
Well that's unfortunate. I wonder if there's something about how your VSTS task is configured. In order to rule that out, can you manually exec a console into the container and run the following to see if you have the same issue independent of running VSTS tasks?

[code]

(You can exec in using kubectl, first "kubectl get pod" to find the name of the pod that is running the VSTS agent, then "kubec

[2017-12-02 22:46] stepro commented on #55
Did you determine this actually works? I don't believe the Negotiate auth model works on Linux because it's for Windows authentication via NTLM or Kerberos.

[2017-12-05 22:48] Sawtaytoes commented on #54
I have the same issue. I just pulled down today. This is the command I'm using to run the agent on my local machine:

[code]

I'm using the Docker Compose tasks in the agent pipeline. This one fails when executing a `docker-compose run` command using the Docker Compose file `**/docker-compose.test.yml`:

[code]

[2017-12-06 17:20] stepro commented on #54
Ok, this is concerning. I couldn't reproduce the issue by using docker-compose directly. I'll try running a task via the VSTS agent and see if I can recreate the problem.

[2017-12-07 16:47] stepro commented on #54
Actually @Sawtaytoes, the command you are using to run the agent locally is giving an expected error because you didn't volume mount the docker socket into the container. @marc-mueller, I'm still trying to reproduce the issue in your case.

[2017-12-07 17:12] stepro commented on #54
@marc-mueller , I'm unable to reproduce this issue. I ran the VSTS agent in Kubernetes using your exact replication controller definition and queued a VSTS build on it that runs the exact same VSTS task configured the same way (the docker-compose task configured to build services). It works fine. Would you be able to send me or summarize how exactly your VSTS docker-compose task is configured? I'm

[2017-12-07 18:04] Sawtaytoes commented on #54
Thanks @stepro. I see it now: `-v /var/run/docker.sock:/var/run/docker.sock`. Must've glanced over it thanks!

[2017-12-08 21:08] MherX opened #56 "Unhandled: Failed which: Not found docker: null"
Hi all!
I ran almost all containers for VSTS but they all give the error below as I start the container and what error I get.
Interestingly, when I connect to the container where the slit is.
I have Azure Container Registry can be the problem? it may be that you need to do? for example to authorize?

Thank you advance!

docker run \
  -e VSTS_ACCOUNT=account\
  -e VSTS_TOKEN=token \
  -it microsof

[2017-12-08 21:23] cameronattard commented on #56
You need to mount the host's Docker socket into the container:

`docker run \
  -e VSTS_ACCOUNT=<name> \
  -e VSTS_TOKEN=<pat> \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -it microsoft/vsts-agent:ubuntu-16.04-docker-17.06.0-ce`

[2017-12-08 21:45] MherX commented on #56
Sorry! I just pointed out is not correct for the build agent the error is correct!
But now he writes that Docker is not running!

Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?
Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?
/usr/local/bin/docker failed with return code: 1

[2017-12-09 15:08] #56 closed

[2017-12-17 00:47] strawgate opened #57 "Include Powershell"
The VSTS Agents should include Powershell to be able to run Powershell commands from VSO builds (though their powershell task is currently broken -- looking for powershell instead of pwsh).

[2017-12-18 18:00] matthew-hickok commented on #57
Agreed, this would be great.

[2017-12-18 18:44] stepro commented on #57
The images have been updated.

[2017-12-18 18:44] #57 closed

[2017-12-20 12:22] marc-mueller commented on #54
Hi @stepro

Sorry, I was on a business trip and my inbox is more then full. I need to setup a new environment to test it again (it was deleted in the meantime). I'll come back to you with the results (around friday).

[2018-01-08 12:37] alexsandro-xpt opened #58 "What's wrong with vsts agent docker images?"
Every month I am pull a image like `microsoft/vsts-agent:ubuntu-16.0x-docker-17.0x.0-ce-standard` image, but this month I get those erro, what's wrong?

![vsts agent error](https://user-images.githubusercontent.com/845657/34671022-e2670fb4-f45f-11e7-9307-a488305d26be.png)

[2018-01-08 16:45] stepro commented on #58
This indicates an error in the response coming from VSTS when calling the endpoint that determines the correct version of the agent to install. Usually this is a result of your token being expired or otherwise invalid.

[2018-01-12 13:15] alexsandro-xpt commented on #58
Thank you replay @stepro, that is it, I created another token and it's become work fine. I don't know way becouse another token isn't working, the expiration date still valid yet.

Well, I create another and everythink is working.. thanks!

[2018-01-17 17:55] DavidStaheli opened #60 "Hosted Linux is missing a subversion client"
The Hosted Linux image has no subversion client.  This prevents subversion builds from just working with Hosted Linux.

[2018-01-17 21:00] stepro commented on #60
The images have been updated.

[2018-01-17 21:00] #60 closed

[2018-01-17 21:38] #58 closed

[2018-01-18 10:22] aumanjoa opened #62 "vsts linux agent publish artifacts to windows share"
Hi,

using: https://github.com/Microsoft/vsts-agent-docker/tree/8d8873c218eb0055c4e0d5e94540a8b941c7e5e6/ubuntu/16.04/tfs/2017-u1/standard

I try to publish an artifact from an Linux agent () into an mounted smb foulder and get this error message:

Cannot publish artifacts from OSX or Linux to a file share. You can change 'Artifact Type' to 'Server', use Windows, or use the 'Copy Files', 'Copy Fil

[2018-01-18 15:26] adriaanthomas opened #63 "Agent updates do not work, 2.124.0 latest version available"
Using `ubuntu-16.04-standard`, at this moment `https://$VSTS_ACCOUNT.visualstudio.com/_apis/distributedtask/packages/agent?platform=ubuntu.16.04-x64` returns largest version 2.124.0 (`https://github.com/Microsoft/vsts-agent/releases/download/v2.124.0/vsts-agent-ubuntu.16.04-x64-2.124.0.tar.gz`), so this is what `start.sh` will download and install when the container is started.

When an agent upda

[2018-01-18 19:30] stepro commented on #62
This sounds more like a question on the publish artifacts task, not the VSTS agent. Try asking the question at https://github.com/microsoft/vsts-tasks. It looks like it is not supported by the task.

[2018-01-18 19:30] #62 closed

[2018-01-18 22:35] cameronattard commented on #63
I think this will be resolved by https://github.com/Microsoft/vsts-agent-docker/pull/59

[2018-01-18 22:42] stepro commented on #63
The issue here is that while the container determines the most appropriate VSTS agent version on startup, and will not be upgraded without an explicit user gesture in the VSTS UI, it will still get upgraded if it tries to run a task that requests an upgrade. This scenario was previously unknown to me, but I believe you can disable this auto-update behavior by setting the environment variable "agen

[2018-01-19 07:59] adriaanthomas commented on #63
Setting `ENV agent.disableupdate=true` indeed prevents the agent from updating.

My build does not report any particular task to fail, it just stays in a state "Waiting for an enabled agent. All possible agents are disabled." Besides it appears that the update trigger comes from trying to run a [yaml build](https://docs.microsoft.com/en-gb/vsts/build-release/actions/build-yaml), as my "classic, GU

[2018-01-19 16:41] stepro commented on #63
It's true that #59 will resolve your immediate issue, because that will ensure that the latest version of the agent is installed so it doesn't need to dynamically upgrade when you try to do a yaml build. However, this issue is more general: a VSTS agent running at a version that was deemed the latest when it was started always has the possibility of being dynamically upgraded at some point.

I'll

[2018-01-19 17:11] adriaanthomas commented on #63
I had considered if, for Docker agents, `agent.disableupdate` should always be set to `true` too, but in the end I guess that will hide (possible) agent updates (they would only be visible on the Agent Queues tab, and even there the message displayed suggests that an update will happen anyway, which it won't) and many people will end up hardly ever actually updating their agents.

While the curren

[2018-01-19 17:15] stepro commented on #63
#59 is merged and ETA is 2 hours for the images on Docker Hub to be updated. I'll respond to this issue when that process has completed.

[2018-01-20 09:58] qmfrederik commented on #63
At least on Kubernetes, an agent auto-restarting itself will simply trigger Kubernetes to re-launch the base container, so you'll end up with an endless reboot loop.

#59 and `ENV agent.disableupdate=true` should fix things for me, though.

[2018-01-20 21:15] stepro commented on #63
The images have been updated.

[2018-01-20 21:18] stepro commented on #63
In most cases, this issue will no longer occur since #59 means the latest agent will be downloaded on startup. Until there is something better, you can avoid the larger issue by either passing "-e agent.disableupdate=true" when you run your container, or run it in a mode where it automatically restarts (when the agent exits due to an upgrade, the container will exit, but get recreated and should t

[2018-01-23 09:05] sietsevdschoot opened #66 "[Docker] microsoft/vsts-agent - Queued build -> Missing capabilities: msbuild, visualstudio, DotNetFramework, vstest"
When i start a docker agent, targeting visualstudio.com, the agent registers itself with my private agent pool.
When i queue a new build, I get the following error:

[code]

Output:
[code]
Googling this error, it appears VisualStudio is not installed on the image.

Any possible solutions on how to fix this in Docker?

[2018-01-23 17:44] stepro commented on #66
If you want Windows only features like Visual Studio or the full .NET Framework, then you need to build and run your own Windows container using the resources available in this repository under the windows directory. The images that you can pull from Docker Hub are Linux only images.

[2018-01-23 17:44] #66 closed

[2018-01-29 15:39] judavi commented on #46
Is not working anymore with FROM microsoft/windowsservercore:10.0.14393.1358. The latest version of VS Installer gives a:
Installing visualstudio2017enterprise...
ERROR: Running ["C:\chococache\visualstudio2017enterprise\15.2.26430.20170605\vs_Enterprise.exe" --includeOptional --pa
ssive --norestart --locale en-US --wait ] was not successful. Exit code was '5003'. See log for possible error messag

[2018-01-30 02:27] heaths commented on #46
Please note that Visual Studio in containers is not supported. We are working to support Build Tools.

If you are using VS in a licensed manner, I cannot diagnose anything based on the information provided. Please see https://docs.microsoft.com/en-us/visualstudio/install/advanced-build-tools-container for how you can collect logs if an install fails.

[2018-01-30 11:39] judavi commented on #46
Just for the record, more than an issue with the container the 5003 error is an issue with the proxy. But there's no way to setup the proxy using powershell (and the VS installer)

[2018-01-30 15:31] Bene-Graham opened #68 "NodeJS LTS version for docker image"
Hello,

I noticed that the docker image is the the latest stable(currently Node 9), but the current LTS is Node 8.

This causes problem when using NPM to install package like bcrypt, where it is compiled to the specific node version.

I am wondering, shouldn't the docker image use the LTS version node since in most cases this is what the majority of people will use in production?

If not, is there

[2018-01-30 18:53] stepro commented on #68
I think it would be reasonable to change the version of Node installed to the LTS. I'll update the images.

[2018-01-31 16:48] chechunawer commented on #55
I have finish an implementation for this login and works properly.
One thing I need to know, is how to clean pool after this docker has received halt signal.

[2018-01-31 16:58] stepro commented on #55
The startup script should be configured to correctly remove the agent from the agent pool if you gracefully terminate the container. What do you see that isn't working?

[2018-01-31 17:03] chechunawer commented on #55
With changes I have made in TFS there are agents stopped.
But it does not delete it.

[2018-01-31 17:05] stepro commented on #68
The images have been updated.

[2018-01-31 17:05] #68 closed

[2018-01-31 17:07] stepro commented on #55
If you terminate the container using SIGINT or SIGTERM, it will run [this](https://github.com/Microsoft/vsts-agent-docker/blob/master/ubuntu/tfs/start.sh#L34) code which should remove it from the pool. What does your implementation do? Maybe it conflicts with this startup script somehow?

[2018-01-31 17:17] chechunawer commented on #55
Thank you,
I was not cleaning up correctly.
Now it clears correctly agents created.

[2018-01-31 17:20] chechunawer commented on #55
[modifiedStartForNTLM.zip](https://github.com/Microsoft/vsts-agent-docker/files/1682625/modifiedStartForNTLM.zip)

If someone needs it, here is the file

[2018-01-31 17:29] stepro commented on #55
Thanks. When I get time, I'll update the official start.sh script to support both negotiate and token based auth models.

[2018-02-01 11:39] mot256 commented on #1
+1000000
Any progress on this?

[2018-02-07 14:46] shantmarouti opened #70 "Starting agent with invalid access token gives ambiguous error message"
## Agent version and platform
Docker 17.12.0-ce, build c97c6d6
ubuntu-16.04-docker-17.06.0-ce-standard#d7b6b317d640
Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-112-generic x86_64)

## VSTS type and version
VisualStudio.com

## What's not working?
When starting agent with invalid or expired access token it gives ambiguous error message:
[code]
I think [this line](https://github.com/Microsoft/vsts-agent-doc

[2018-02-07 15:12] judavi commented on #46
@heaths following your example I found -> [know issues](https://docs.microsoft.com/en-us/visualstudio/install/build-tools-container-issues)
So how you avoid the 20 GB limitation? or how you configure Docker to accept images larger than 20 GB?

[2018-02-07 18:01] stepro commented on #70
Yeah, this error could be handled better. @dakale, do you want to take look?

[2018-02-07 19:02] dakale commented on #70
Sure, I can take a look at this

[2018-02-07 19:13] heaths commented on #46
See https://docs.microsoft.com/visualstudio/install/build-tools-container. Note that "storage-opts" does not appear to be supported in 17.06-ee, but has been working for me for several stable versions of 17.x for Windows 10.

[2018-02-08 20:48] #70 closed

[2018-02-12 07:56] s3raph commented on #1
This would be incredibly useful. I see that there's an image and a set of scripts available.

I see that there's one available on master. Is it close to being released?

[2018-02-13 11:27] obfu5c8 commented on #54
I'm seeing a similar behaviour. VSTS build tasks fail (using the docker-compose task) with the same `Couldn't connect to Docker daemon at http+docker://localunixsocket - is it running?` errors.

If i `docker exec` the command into the running image from the host it works as expected though which leads me to think it might be something in the build agent scripts that is mucking with the env perhaps

[2018-02-13 17:26] stepro commented on #54
@obfu5c8 , when you `docker exec` into the container, what commands are you trying?

[2018-02-13 20:19] VarunkumarManohar opened #75 "vsts docker agent fails with exit code 127 while launching task in a docker container"
Visualstudio.com
https://varungb.visualstudio.com

I run a private vsts agent inside a docker container

[code]
With the invocation of this docker command, I see a successful agent registration inside vsts online agent queue.

I am trying to use this preview feature to start a task inside a docker container from this vsts agent (which itself is a docker container in this case)

[RunTaskInDocker](h

[2018-02-13 21:59] VarunkumarManohar commented on #75
seems like the issue is with volume mounting. The task container is unable to use the mounted volume.

I have checked the logs and the task container was created with volume mounting on /var/vsts/1/s and
/var/agent/external

[2018-02-14 15:03] kdiddy82 opened #76 "SSL Certificate verification failure"
I'm running into an issue when trying to run the docker container.  It seems that it is not able to validate the CA server certificate.  I see that it makes calls out to download items, but i'm not sure where it is going. I'm assuming that it is trying to download the VSTS agent from our *.visualstudio.com account.  Which it shouldn't have an issue getting to. Any thoughts?

**Docker Version:**
Cl

[2018-02-15 15:04] dakale commented on #75
I was able to reproduce this issue.

I shelled into my private agent container and ran the `docker create` from the build logs:

(`docker create --name ... --rm -v /var/run/docker.sock:/var/run/docker.sock  -v /var/vsts/1:/var/vsts/1 -v "/var/vsts/_temp":"/var/vsts/_temp" -v "/var/vsts/_tool":"/var/vsts/_tool" -v "/vsts/agent/externals":"/vsts/agent/externals":ro -v "/var/vsts/_tasks":"/var/vsts/_

[2018-02-16 19:36] chrisrpatterson commented on #75
Running the agent in a container and running a task in a container are not really compatible with each other.  DinD might help and that is something you could do by building your own DinD container.

[2018-02-16 20:20] stepro commented on #75
Assuming the only bind mounts that the containerized task requires are /var/agent/external and /var/vsts/*/s, you should be able to make this work as follows:
- Run a preliminary agent from the host: `docker run --name vsts-agent -e VSTS_ACCOUNT=... -e VSTS_TOKEN=... -it --rm microsoft/vsts-agent`
- Once this is connected and listening for jobs, execute this on the host: `mkdir /vsts/agent && cd /

[2018-02-20 14:15] chrisrpatterson commented on #75
I am not sure running an agent in a container and then launching another container to bind mount the same paths that are mounted in the agent container is going to work well in the long run.  It seems like a lot of path mapping to keep straight.

[2018-02-21 19:12] #76 closed

[2018-02-21 19:18] kdiddy82 commented on #76
Internal network issue

[2018-02-21 22:14] ephos commented on #54
I am unsure if this is related but using either the _**ubuntu-16.04-docker-17.06.0-ce-standard**_ or the _**ubuntu-16.04-docker-17.12.0-ce-standard**_ I am seeing the following errors.

This is the error I get with 17.06.
[code]

This is the error I get with 17.12
[code]

The build is utilizing the following Microsoft task.

[2018-02-22 15:13] ephos commented on #54
Hi @stepro, no orchestrsation at this time I am just using commands.  Below is the command I used.

[code]

[2018-02-22 16:59] stepro commented on #54
Hi @ephos, if you want Docker to work, you need to volume mount the host's docker socket into the container using "-v /var/run/docker.sock:/var/run/docker.sock". The README shows an example of this.

[2018-02-23 15:30] ephos commented on #54
@stepro Sorry I had definitely missed that.  I created new containers with that parameter but still seem to get the following error.

**Command**

[code]

**Build Error**

[2018-02-23 17:01] stepro commented on #54
@ephos I wonder if your Docker daemon isn't configured to listen on the default local socket file. Can you take a look at the docs [here](https://docs.docker.com/config/daemon/) to see if perhaps the daemon is configured differently?

[2018-02-28 17:30] Rabadash8820 commented on #33
@jabbera These two quotes sum it all up in my mind.  Seems like this could be implemented with modest effort, and it would give VSTS a much more robust way to handle CI/CD.  +1 for sure!

[2018-02-28 17:51] dakale commented on #33
This is an area that is currently receiving some effort. I will make sure to update here as solutions become available in the next few weeks/couple months

[2018-02-28 18:07] Rabadash8820 commented on #1
Ok seriously, what is the hold-up here?  I asked about creating a Windows VSTS agent image over on [StackOverflow](https://stackoverflow.com/questions/48891357/docker-for-windows-dockerfile) was redirected to this repo, and was able to build/run the Dockerfile in this repo without issue.  If I can do it, why can't Microsoft publish it on the Docker Store and make it official?  Right now it just fe

[2018-03-01 17:51] gravufo commented on #55
I think you guys should be using gMSA for authentication instead of passing username/password.
Not only would it be safer, but it's also easier if you want to access network resources afterwards (for example if you need to publish artifacts to a network share).

It goes like this:
1. Create gMSA in AD.
2. Authorize the docker host to access/use that gMSA in AD as well as on the machine itself.
3.

[2018-03-01 19:42] stepro commented on #55
@gravufo, will that work for Linux containers? The link shows a whole lot of Windows specific things.

[2018-03-01 21:33] gravufo commented on #55
You're right, it won't. I hadn't though about connecting to an on-premise TFS from a linux container!
On the other hand, I'd still suggest supporting both ways, in the sense that if I do want to use NTLM and I'm on a Windows container, it would be nice to be able to take advantage of the gMSA and, of course, it would be nice to be able to use NTLM in a linux container using provided credentials.

[2018-03-01 23:24] ephos commented on #54
@stepro you are correct, I believe my issue was an SELinux problem.  I'm able to spin up the containers without a problem now!

[2018-03-01 23:28] stepro commented on #55
Yeah, the work here for the Linux container is to parameterize the auth model which is currently hardcoded to pat only.

[2018-03-01 23:29] stepro commented on #54
@ephos glad you got it working!

[2018-03-05 17:21] promontis commented on #54
@stepro I'm having the same error when using the Hosted Linux Preview build agent with the Docker Compose task.

2018-03-05T17:12:41.7220507Z ##[error]Couldn't connect to Docker daemon at http+docker://localunixsocket - is it running?
2018-03-05T17:12:41.7303252Z ##[error]If it's at a non-standard location, specify the URL with the DOCKER_HOST environment variable.

[2018-03-05 19:13] stepro commented on #54
Well it definitely shouldn't be a problem there. @chrisrpatterson, @dakale, could you follow up?

[2018-03-05 21:26] dakale commented on #54
@promontis Can you provide any more information about your build definition? I could not reproduce using the Docker Compose task on Hosted Linux Preview, and running two simple phases that just executed `docker-compose version` and `docker-compose images`.  I suspect `docker-compose images` is a good enough test of whether there is a connection to a Docker daemon- perhaps your definition is more c

[2018-03-05 21:49] obfu5c8 commented on #54
I haven't got my failing code to hand, but iirc my issue turned out to be a syntax error in the compose file - I think it was an illegal character in the container name - which must have caused an exception that was reported as a connection error rather than a syntax error.

@promontis could you post your compose file - it might be the same root cause here.

If that is the case, i guess the next s

[2018-03-05 21:59] promontis commented on #54
@obfu5c8 that's indeed the case!! I had an illegal character in the container name!

[2018-03-05 22:03] dakale commented on #54
@promontis You can open an issue in https://github.com/Microsoft/vsts-tasks/issues if youd like.

If not, could you provide the character/line that caused the issue so I can report it? In my test, I tried using an illegal field, something like "imag_s" instead of images. That, however, reported a proper error

[2018-03-05 22:05] promontis commented on #54
@dakale I had a dot in the image name. Could you try that?

[2018-03-05 22:40] dakale commented on #54
@promontis I tried this docker-compose file:

[code]

I also tried a few variations for the image format such as `redis:alpine` and an image from a personal Dockerhub repo.

If possible, could you post the image name you used that caused the original error? Or if its private, what image format you used? i.e., from Compose docs:

[code]

[2018-03-06 09:43] promontis commented on #54
@dakale I had this:
[code]

So it could be either the image name or the service name. Based on your answer it probably is the service name. It seems long service names is not what you want, because you have to type them in the cli if you want to deploy. So people might not do this that often. Still, I think the error should be more descriptive.

[2018-03-06 18:47] benjamin-bader opened #80 "Request: Clang on VSTS Linux Agent"
The title says it all - would it be possible to have a recent version of Clang available on hosted Linux agents?  If I had a choice, I'd choose a version >= clang 5.0, but really any version that supports c++14 would work.

My concrete use case is that our project embeds https://github.com/Microsoft/ChakraCore, which requires clang to build on Linux.  I can certainly install it myself, but it woul

[2018-03-06 20:48] stepro commented on #80
Are you looking specifically for the hosted Linux agents to have this capability (@thechrisjohnson can comment) or for the hostable Linux container images to have this capability (this repo?) Or both?

[2018-03-06 21:08] benjamin-bader commented on #80
I hadn't considered the distinction, but I'm interested in hosted Linux agents having this capability.  We aren't using the docker images directly.

[2018-03-07 00:24] stepro commented on #80
Ok. I'd be happy to add it to the Docker images, but that won't affect the hosted Linux agents (I think they are based off the same images but there's an integration lag).

[2018-03-07 02:00] benjamin-bader commented on #80
OK, thanks, that sounds great!  Do I understand correctly that this change would _eventually_ make it to the hosted agents?

[2018-03-07 19:27] thechrisjohnson commented on #80
Yes, it's a pretty easy process to update the docker container on the hosted pools, there will just be a little delay as we take time waiting between releases to different Scale Units to ensure we don't break everybody at once.

[2018-03-07 19:38] GrahamDSmith commented on #54
I too have the same problem as OP @marc-mueller. In my case I've been using a VSTS Docker Compose task to build an image from the compose file created by Visual Studio for an ASP.NET Core Web Application on a private Lunux build agent I created myself. I've blogged about the setup [here](https://pleasereleaseme.net/deploy-a-dockerized-asp-net-core-application-to-kubernetes-on-azure-using-a-vsts-ci

[2018-03-07 21:46] dakale commented on #54
@GrahamDSmith
Let me quickly follow up on your second point- Multistage builds don't seem to be supported in AKS. See [this](https://github.com/Azure/AKS/issues/63) issue. If you shell into your agent container on AKS and run `docker version` youll see the docker daemon on those hosts is only version 1.12.6 and 17.05 is required on both the daemon and client

Ill continue doing some investigation

[2018-03-08 17:15] GrahamDSmith commented on #54
Thanks @dakale for setting me right regarding multi-stage builds - I'd forgotten I needed to look at the k8s layer for the version of docker. I'll add my support to those asking for an upgrade.

My compose file is generated by VS 2017 (15.5.6) and very simple so I hope I can rule out a syntax error:

[code]
However I too was wondering if the compose error was a symptom of an invalid Dockerfile for

[2018-03-12 05:57] GrahamDSmith commented on #54
@dakale I've now tested my setup with a single stage Dockerfile and everything works fine, so looks like in my case the error message was a red herring and the multi-stage Dockerfile was the problem.

I saw I had a cluster upgrade option (1.9.2) so I upgraded but sadly the docker engine version is still only at 1.13.1.

[2018-03-14 00:38] SteveLasker commented on #54
While we certainly understand the desire to do builds in your cluster, an the desire to have AKS on a current docker version, we are preparing to ship a native container build service. Please message me if you'd like to be part of the preview.
Steve

[2018-03-14 09:03] promontis commented on #54
@SteveLasker how do we message you :) would like to be part of the preview

[2018-03-14 09:07] jmezach commented on #54
@SteveLasker Me 2 ;).

[2018-03-15 07:28] GrahamDSmith commented on #54
@SteveLasker  Me also please. I've emailed my contact details to you.

[2018-03-15 12:44] DanielZuerrer opened #82 "VSTS Linux Agent is missing .NET Core Runtime 2.0.6"
We updated our ASP.NET Core App to use the .NET Core Runtime 2.0.6. Currently the VSTS Linux Agent fails when running tests with the following error message:

[code]

Please update the agent so it is compatible with the latest .NET Core SDK/Runtime.

[2018-03-16 15:44] stepro commented on #82
The updated images are being pushed to Docker Hub; should be complete within the hour.

[2018-03-16 16:32] stepro commented on #82
All the images have been pushed.

[2018-03-16 16:32] #82 closed

[2018-03-18 17:33] mblaschke opened #83 "Update vsts agent for build YAML feature"
When will the updated vsts agents be available? The current version doesn't support the "YAML - Configure your build as code" feature and if one developer triggers a YAML build all dockerized agents are updated and restarted.

I'm using a hosted VSTS on visualstudio.com and it tries to update the agent to 2.129.1 (dockerized version is 2.122.1). This update fails because it restarts the container

[2018-03-19 15:46] dakale commented on #83
There is a related issue open in https://github.com/Microsoft/vsts-agent-docker/issues/63 in which some workarounds are discussed that might be useful to you

You may need to pull the latest image- this issue has been at least partially mitigated by an update to the images (see issue linked above)

Let me know if that is not enough information to work through your problem

[2018-03-19 15:48] SteveLasker commented on #54
@GrahamDSmith @jmezach @promontis and others interested... you can signup for ACR Preview features here: http://aka.ms/acr/preview/signup
We expect to open up access this week.
Thanks,
Steve

[2018-03-19 16:18] GrahamDSmith commented on #54
@SteveLasker Cheers!

[2018-03-20 03:48] cberthold opened #84 "Unable to build Dockerfile that has apt-get update"
I've been trying to figure out what needs to be done to make this image work on VSTS for a couple hours now.  original Dockerfile can be built from ```github.com/cberthold/kafka-pi```  on the `master` branch and also tried breaking the steps up on `testruns` branch.  This image builds fine and deploys on the Raspberry Pi and builds on the Mac (17.12) just fine.

When running each command individua

[2018-03-20 14:58] dakale commented on #84
I am unsure exactly what problem you are having as it relates to this repository. Are you trying to build your image on VSTS? If so, which agent queue are you using, or are you running your own agent?

Are trying to build your image using either the Hosted Linux queue or you are running your own agent using one of these agent images?

[2018-03-21 09:49] mblaschke commented on #83
I wasn't aware that the non-tfs-images are fetching the image on start which fixes our problem.

Thanks and closed :)

[2018-03-21 09:49] #83 closed

[2018-03-23 13:29] cberthold commented on #84
It was a suggestion from someone else to try here for ideas what might be causing the issue.  I'm building on VSTS hosted.  I've tried the linux and mac hosted.  My understanding is with the mac one I need to somehow install docker prior to executing the docker build.  My understanding as well is that the ARM portions of the build are shimmed into the container which is why it works on mac and pi

[2018-03-23 15:18] dknoodle opened #87 "Azure App Service Container"
I have deployed the Docker VSTS agent in an Azure App Service (Linux) deployed from the Docker registry https://hub.docker.com/r/microsoft/vsts-agent/  but I'm getting errors on startup.

Everything appears to be correct but when the container starts up and tries to update the VSTS agent installed in the container it throws errors.  Looks to me like the installer is trying to change permissions /

[2018-03-23 15:36] pascalberger opened #88 "Add image for TFS 2018 Update 1"
Please add Docker images for TFS 2018 Update 1, which comes with agent version 2.122.2 (TFS 2018 was 2.122.1)

[2018-03-23 17:01] stepro commented on #87
This image has not been tested with Azure App Service. My assumption is that they require the container do not run as root, and the image assumes that it is running as root.

[2018-03-23 20:21] dknoodle commented on #87
@stepro Any thoughts on possible solutions?  Does the container really need root access and/or could the permissions on the files be set differently when the container is created to resolve this issue?

[2018-03-26 16:09] stepro commented on #47
Closing this issue for now. There is likely to be some kind of change in the future, but it is not immediately necessary.

[2018-03-26 16:09] #47 closed

[2018-03-26 16:10] stepro commented on #53
Closing stale issues.

[2018-03-26 16:10] #53 closed

[2018-03-26 16:18] stepro commented on #54
It looks like everyone's issues have been resolved on this thread by workaround, reading how to correctly configure the VSTS agent and/or understanding Docker's confusing error messages for these scenarios. I'm going to close out this issue.

[2018-03-26 16:18] #54 closed

[2018-03-26 16:20] #75 closed

[2018-03-26 23:25] stepro commented on #87
Ok, I decided to see if I could trick App Service into thinking the VSTS agent was a web site just enough to keep it running, and that turned out to be quite easy. If you try to browse to the web site, e.g. `my-vsts-agent.azurewebsites.net`, it will redirect you to the agent pool configuration page in your VSTS account. This same HTTP response is used by App Service itself to decide that the conta

[2018-03-27 21:41] stepro commented on #80
The images have been updated.

[2018-03-27 21:41] #80 closed

[2018-03-27 21:42] stepro commented on #87
I've updated the images on Docker Hub - please try it out and see if it works for you.

[2018-03-27 21:42] #87 closed

[2018-03-27 21:42] stepro commented on #88
Done.

[2018-03-27 21:42] #88 closed

[2018-03-27 22:09] benjamin-bader commented on #80
Awesome, thank you all!

[2018-03-28 22:53] dknoodle commented on #87
This is working Great now for our .Net Core builds.  Thanks!!!

It's worth noting for others this is a Linux docker containers so the VSTS Agent in Docker can only build .Net Core projects.  A Windows build server for .Net 4.x builds.

@stepro Are there plans to create a Windows docker container for this at some point?

[2018-03-28 23:20] stepro commented on #87
The scaffolding for building your own Windows containers exists in this repo but I haven't been maintaining it so it's likely to be quite out of date. See #1 for more information.

[2018-04-04 05:37] pointtoken opened #89 "Docker Build Completes But Doesn't Work"
We've been running our devops pipeline with VSTS docker builds for almost a year and something recently broke in the last few weeks and unfortunately we can't pinpoint what happened.

The VSTS Docker build step runs and then we push the image to an Azure container registry and run it as an app service. But it always throws an internal server error when trying to serve the website, which is an Angu

[2018-04-04 15:57] dakale commented on #89
Are you running your builds on the Hosted Linux Preview queue? Just to be clear, this repo is for the images that run on the machines backing the Hosted Linux queue, not the Docker tasks (build/push etc) in general.

Are you able to share the error from your server that you encountered?

I am not aware of any major changes that would likely cause this, nor has anything similar been reported, so we

[2018-04-04 19:10] pointtoken commented on #89
Thanks for the quick response and pointer to docker logs -- that revealed that the issue is in our code. Closing...

[2018-04-04 19:10] #89 closed

[2018-04-13 22:24] TravisEz13 opened #93 "PowerShell requires a locale, please set the locale in containers with PowerShell"
Here is an (edited) example of how to do this from the powershell repo https://github.com/PowerShell/PowerShell/blob/master/docker/release/ubuntu16.04/Dockerfile#L25
[code]

[2018-04-17 14:17] cqgis opened #94 "docker-standard Cannot connect to the Docker daemon at unix:///var/run/docker.sock."
I create a vsts-agent container with command:
[code]
but when I build an image use this agent,I got some error:
[code]

someone kown why?

[2018-04-17 14:49] cqgis commented on #94
@dakale  bingo, thanks

[2018-04-17 14:50] #94 closed

[2018-04-18 16:39] promgamer opened #95 "Add Ubuntu 17.10?"
Hi,

Is there anything that prevent us from having a Ubuntu 17.10 version?

Cheers,

[2018-04-18 21:20] iyerusad opened #96 "Reset Container after running job (i.e. Current Hosted Agent behavior)"
Is there a particular reason that the docker containers don't reset after running a job like the Hosted Agents do?

My expectation with the docker container is that it reset completely following job completion, which includes:
- Cleanup of files in working directory (this seems to work today)
- Environment is cleaned to container spec:
  - If I installed `tree` using apt-get, I expect that won't b

[2018-04-19 17:01] dakale commented on #96
In the hosted (linux) queue, a separate service creates and managers the lifecycle of a container to run your job so you don't share a potentially modified environment with others.

As far as I know, there is not currently an official way to support your ask. We are moving to model where this is possible but unfortunately that is still WIP.

It is a bit awkward for a self-host container because VS

[2018-04-19 17:03] stepro commented on #96
On of the main reasons you choose to run your own Linux agent is actually so that you can avoid the limitation of hosted agents where they lose all the context between builds. A custom agent allows you to be more efficient with your builds by maintaining a custom environment with the tools you need. In the Docker container case, you can derive your own image from one of the base images and install

[2018-04-19 17:03] #96 closed

[2018-04-19 17:06] dakale commented on #95
There is an additional support and maintenance burden for every new configuration that is added. Adding Ubuntu 17 without removing Ubuntu 14/16 would mean 50% more total linux images that need to be built and pushed which is already cumbersome.

Unless there is a compelling need to upgrade, the existing images are stable and are all we plan to support at this time. Do you have a particular need fo

[2018-04-19 18:13] iyerusad commented on #96
In a team that practices DevOps, I can't ensure John doesn't introduce a dependency hell for Paul's pipelines and vice versa. So really, this logically is a bug with the VSTS docker container/really all the VSTS agents as they share modified environments with others. Agents shouldn't be "pets" but cattle. For some reason it was deemed proper to solve this for Hosted agents, but not for selfhosted

[2018-04-19 18:18] stepro commented on #93
The images have been updated.

[2018-04-19 18:18] #93 closed

[2018-04-19 18:26] stepro commented on #96
What you're asking for is not a request on the Docker containerization of the VSTS agent but the agent itself, so you'll be better off adding this feature request to the Microsoft/vsts-agent repository. @dakale can comment more, but I believe there are plans to move to a model where you have a single controlling VSTS agent which spins up an independent Docker container for each build, thus creatin

[2018-04-19 18:45] iyerusad commented on #96
I'll post it there, looking forward to the improved model @dakale .

but fwiw, I believe adding a monitor to the within docker container that looks for the "job completed" and does a docker kill/restart. This would be out of band of the job who called it (and won't stop the job being able to finish). May introduce a race condition though in registering the agent theoretically.

[2018-04-19 18:50] stepro commented on #96
Yeah, that likely wouldn't work because it will end up constantly removing and re-adding agents in the agent pool, and it might end up missing jobs as a result.

[2018-04-19 21:14] promgamer commented on #95
It comes with some updated tooling like gcc 7 (and with that support for C++17). What I did right now was to pick a vsts_agent Docker image and install gcc 7 on it (although I don't really like to diverge from the "official" images).

Also, it would be nice to have conan installed (as it becomes more and more used).

[2018-04-20 16:41] dakale commented on #95
In general we would be more likely to just support gcc 7 on the 14/16 images, so long as that package is available for those distributions. More so if gcc7 will be backwards compatible with whatever version is currently installed, or can be installed alongside older versions.

Also just want to call out that we have added clang 6 to the 16 images. I'm not sure if that supports your use case but it

[2018-04-20 16:49] dakale commented on #84
Hi @cberthold sorry this fell off my radar. Have you been able to get your build working?

If you havent moved on, I see no reason why you couldn't run the agent in a Docker container on the pi.

[2018-04-23 20:40] iceb0y commented on #95
We have met a similar problem, where boost library has version 1.58 with ubuntu 16.04 lts. We would prefer debian 9 as build environment.

[2018-04-30 11:31] polys opened #98 "Add kubectl and helm"
Could you add **kubectl** and **helm** in the docker-standard images please?

The `Package and deploy Helm charts` task fails on the `ubuntu-16.04-docker-17.12.0-ce-standard` image because of this for example.

[2018-04-30 12:28] polys commented on #98
Thanks @jikuma, that's exactly what I ended up doing.
My suggestion was to add these tools as standard since so many things rely on them.

[2018-05-01 18:26] polys commented on #98
I now understand why it's probably better not to pre-install these tools, especially helm whose version needs to match tiller's on the cluster. I'm closing the issue.

[2018-05-01 18:26] #98 closed

[2018-05-03 20:43] ryanmendoza opened #99 "Option to run dockerized image behind proxy"
Is there a configuration to run this behind a proxy? It would be easy enough to create the `.proxy` file, but I'm not seeing a way to pass the proxy in the configuration command?

Am I missing something?

[2018-05-04 16:09] dakale commented on #99
When you `docker run` can you just pass `--env HTTP_PROXY "http://host:port"`? Im not completely sure but I think the networking is going to different when running in a container vs running directly on the host so passing the proxy config to the agent may not be necessary.

Alternatively if the agent needs the .proxy file you may be able to mount that in when you run the container

I dont think yo

[2018-05-07 23:41] jjburr commented on #46
Can someone share with me the what daemon configuration change is required for windows containers to increase the size during build so its > 20 ?

[2018-05-08 00:26] heaths commented on #46
It's in the docs already: https://docs.microsoft.com/en-us/visualstudio/install/build-tools-container#step-4-expand-maximum-container-disk-size

Also, anyone wanting to ask a question or file a bug not related to the original issue, please open a new one.

[2018-05-08 12:52] kirkone commented on #96
hi,

I know this is closed but I had the same problem and solved it by running my agents like so:

[code]

This is an example only but should give a hint on how to get something like that working.

[2018-05-10 13:09] MarkDordoy opened #100 "Missing library files required for puppeteer / chromeheadless browser : libXss.so.1"
ng test --watch=false --single-run=true --browsers=ChromeHeadless --reporters=junit,progress
2018-05-10T11:47:49.7499111Z [32m10 05 2018 11:47:49.746:INFO [karma]: [39mFront-end scripts not present. Compiling...
2018-05-10T11:47:55.5934691Z [32m10 05 2018 11:47:55.592:INFO [karma]: [39mKarma v2.0.0 server started at http://0.0.0.0:9876/
2018-05-10T11:47:55.5951309Z [32m10 05 2018 11:47:55.593

[2018-05-10 16:30] stepro commented on #100
@thechrisjohnson, does the hosted Linux build agents include support for this? If so, how did you install the nececessary libraries?

[2018-05-14 18:11] ryanmendoza commented on #99
@dakale I think it would definitely be useful. Our corporate network is frequently riddled with proxy gotchas. This type of configuration makes sense to me to be available amongst the others as a docker run environment parameter.

[2018-05-15 16:08] zooba opened #101 "Enable IPv6"
IPv6 appears to be disabled in the containers. Can it be enabled? (Appears to be off by default in Docker, but [easy to enable](https://docs.docker.com/config/daemon/ipv6/))

[2018-05-15 16:10] zooba commented on #101
The context is that we have builds/tests running for [CPython](https://python.visualstudio.com/cpython) (it's public) that validate IPv6 behaviour. Some have been failing because we weren't correctly handling when it's disabled, and while we've fixed those, it would also be nice for those tests to run correctly.

As far as I understand, we don't need internet access - just the ability to bind to `

[2018-05-17 23:12] stepro commented on #101
If this is purely an issue with how Docker is running, I assume you are asking about the hosted Linux build agents? This repository provides self-host images for running VSTS agents, and in that case you own your own Docker daemon, so feel free to enable IPv6. If you discover there's something specific that needs to be done in the VSTS agent images here, please let me know.

[2018-05-21 16:31] ljani opened #104 "Add image for TFS 2018 Update 2"
TFS 2018 Update 2 has been out for a while with agent version `2.131.0`.

Would it be possible to add a TFS image with a script to automatically download the correct version similar to VSTS?

[2018-05-21 17:53] zooba commented on #101
Yeah, sorry, missed that bit of info :)

Unfortunately, switching to our own hosting means we can't take advantage of the hosted machines we've been donated already. Is there some reason the hosted ones can't/shouldn't enable IPv6?

[2018-05-21 17:57] stepro commented on #101
@chrisrpatterson or @thechrisjohnson are best set up to answer that question.

[2018-05-24 13:20] JoelBCarter opened #107 "Advertise Additional Capabilities"
Is there a way to allow an agent (assuming we inherit from one of these containers) to advertise additional capabilities to VSTS?  I believe the term for these are [User Capabilities](https://docs.microsoft.com/en-us/vsts/build-release/concepts/agents/agents?view=vsts#capabilities).  As it is currently, I'm manually adding capabilities for each agent from VSTS, but it would be nice to have the age

[2018-05-24 21:06] dakale commented on #107
I dont believe there is an automated way to add User Capabilities, you would need to add that via the UI. You can just add system capabilities though, which are just your environment variables.

See: https://github.com/Microsoft/vsts-agent-docker/blob/master/ubuntu/start.sh#L4

Well known (by VSTS) variables get ignored but you can export whatever you want. Since you are using containers just `doc

[2018-05-24 21:12] JoelBCarter commented on #107
Yes!  Looking at the **SYSTEM CAPABILITIES** in the admin tab for the agents, it appears that a capability is nothing more than just an environmental variable.

![image](https://user-images.githubusercontent.com/5701833/40513816-8bbbd78a-5f6c-11e8-80a9-3164c41f0de7.png)

Since that's the case I can just create an environmental variable in my container corresponding to the capability I'd like the c

[2018-05-24 21:12] #107 closed

[2018-05-30 15:21] ohdihe opened #110 "/var/log/pods -no such directory"
I am trying to create a container instance using the ubuntu-16.04-standard base image and I keep getting this error:

"failed to open log file "/var/log/pods"

I am using an ARM template for the ACI deployment through VSTS pipeline. I was successful at creating a Dockerfile that creates windows-VSTS-Agent image and utilized ARM template through VSTS pipeline for the ACI provision, however, I am ha

[2018-05-30 18:29] ohdihe commented on #110
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "ContainerName": {
        "type": "string",
        "metadata": {
          "description": "Name for the container group"
        },
        "defaultValue": "acilinuxpublicipcontainergroup"
      },
      "port": {
        "type": "string",

[2018-05-31 18:47] maartenvana opened #112 "dotnet-sdk-2.1"
Now that dotnet core 2.1 is released, please update dotnet-sdk-2.1.101 to dotnet-sdk-2.1 for the released version of the sdk.

[2018-05-31 19:19] stepro commented on #104
Images are updated.

[2018-05-31 19:19] #104 closed

[2018-05-31 19:36] reloaded commented on #112
Ditto.

Any chance this VSTS docker agent can be updated by some time next week please? I'm trying to compile my .NET Core 2.1.300 projects against the latest VSTS docker image and it's failing.

Is there a temporary solution to this? Maybe if I copy local binaries from my Windows machine running the latest .NET Core 2.1.300 SDK to the docker image?

`2018-05-31T19:05:51.9422518Z ##[section]Starti

[2018-05-31 19:40] stepro commented on #112
Building now. ETA 2 hours.

[2018-05-31 19:58] reloaded commented on #112
@stepro  Wonderful! Thank you very much for reacting quickly to this

[2018-05-31 21:09] stepro commented on #112
Done.

[2018-05-31 21:09] #112 closed

[2018-05-31 21:39] gregpakes commented on #33
This is exactly what I'm looking for.  I am looking at running Azure Container Instances in order to leverage the per second billing.  I would love to be able to spin up my own private agent in a container, run the build and then shut it down.

I have been looking at manual ways to implement this.  Are you saying this is something that is being looked into?  I want to know whether it's worth my ef

[2018-05-31 21:52] dakale commented on #33
Yes, a comparable solution is being developed first party, but I cannot comment on when it will be GA.

In the meantime, a manual solution is possible if you are willing to get your hands dirty. Check out this recent post by a MSFT engineer: https://www.noelbundick.com/posts/serverless-vsts-build-agents-with-azure-container-instances. Its pretty clever and I think closely matches your needs

[2018-05-31 22:36] gregpakes commented on #33
@dakale Yes - I've seen this and was going to base my solution on it.  It lacks some basic things, for instance it assumes only one build will run at a time, so there will need to be changes made there.

I know I'm about to ask the impossible, do you have any indication of whether the first party solution is 1 month or 1 year away?  I'm not looking for a deadline or a promise, just a vague indicat

[2018-05-31 23:07] dakale commented on #33
Its hard to say but not impossible. My best estimate would be in the 3-6mo range, but theres a lot of variables contributing to that number that are out of my control. Its not great but I hope that helps. I can say thought that this is something that is frequently asked for, so we are committed to solving this issue one way or another

[2018-05-31 23:12] gregpakes commented on #33
@dakale - This is definitely helpful.  Thanks.

[2018-06-01 15:48] ohdihe commented on #110
I did try to deploy a Linux image, while the image authenticated and was running as VSTS agent, the ACI gave an error. The error was along the line of "couldn't not establish connection". However, the Linux backed container instance was up and running since it authenticated with my VSTS account agent pool.

So I do think there is an internal issue with ACI that pertains to Linux images.

[2018-06-05 15:20] alexnovak opened #113 "Very long install period for choco visualstudio workloads"
I've been attempting to build the VS2017 Dockerfile, but it hangs around the netfx-4.5.2-devpack install. I've tried to add a trace and some other measures to track its progress, but haven't been able to verify that anything's actually happening. Has anyone had any experience with this? Did it eventually finish after a long period of time?

Thanks in advance for your feedback

[2018-06-05 18:00] alexnovak commented on #113
I was originally building this on windows 10. When I swapped to a server running server 2016, the netfx-4.5.2-devpack resolved in less than half an hour. About five hours after starting, netfx-4.5.2-devpack has not finished installing on the building container on my windows 10 box.

[2018-06-05 18:00] #113 closed

[2018-06-13 13:52] mswehli opened #114 "Build YAML definitions permissions"
Can you let me know if it might be possible to set permissions for who can trigger the creation of a build definition by adding a .vsts-ci.yml file when Build YAML definitions is turned on in the preview features panel.

[2018-06-13 14:03] DavidStaheli commented on #114
Hi @mswehli, can you please post this question on the following GitHub repo?  That should get the right eyes on your question.  Thanks!
https://github.com/Microsoft/vsts-agent

[2018-06-13 14:03] #114 closed

[2018-06-18 14:53] madhancock opened #115 "Default PHP version (7.2) missing extensions required for composer"
PHP set up in #108 default the installed version of PHP to 7.2.

When composer is run on packages requiring ext-curl an error is thrown and builds fail.

Ouputs for `php -m`:

[code]

Outputs for `php7.1 -m`:

[code]

This issue affects all versions of PHP bundled with the image. The required extensions need to be installed on every included version.

Currently the only workaround is to force the

[2018-06-19 16:20] heaths opened #116 "Install Build Tools 2017"
Visual Studio in a container is not only much bigger than necessary (installs UI components when Windows containers do not support UI and no plans to currently), it's also not officially supported.

Please install the Build Tools SKU instead, as documented at https://docs.microsoft.com/visualstudio/install/build-tools-container (there's also a more advanced topic available underneath that which ma

[2018-06-21 21:30] dakale commented on #115
New images have been pushed. Let me know if you are not seeing this fixed in latest images.

[2018-06-21 21:30] #115 closed

[2018-07-03 16:18] kirkone commented on #116
Hi,

I am about to get this working in #91
any help would be nice.

CU
KirK

[2018-07-10 15:19] uhaciogullari commented on #22
I don't understand how the suggested solution fixes the problem. I am not a Docker expert but it seems like running this command starts a container locally and it doesn't affect the hosted agents on VSTS. My builds are still failing with the same error.

[2018-07-11 14:28] uhaciogullari commented on #22
Just to help the poor souls who are struggling with the same issue: I was able to fix the problem by modifying the docker-compose.yml.

This will get the error above:
[code]

This works
[code]

[2018-07-18 19:05] justinwyer opened #119 "Ubuntu 18.04 based agent images"
This is a discussion for supporting ubuntu 18.04 based images, I will open a pull request against this issue shortly.

My primary motivation for this image is targeting JDK 11. Right now Ubuntu 18.04 package openjdk-11-jdk [installs JDK 10](https://lists.ubuntu.com/archives/ubuntu-release/2018-February/004275.html) on but will switch to JDK 11 once it is released. JDK 11 is the next LTS JDK and ne

[2018-07-19 09:44] #119 closed

[2018-07-19 14:51] stewx opened #122 "Add Chrome web browser to Hosted Linux agent"
We would like to have Chrome available for running web app unit tests on the Linux hosted agents. It is available on the Hosted VS2017 agents and works great on there:
https://github.com/Microsoft/vsts-image-generation/blob/master/images/win/Vs2017-Server2016-Readme.md

[2018-07-25 22:56] iyerusad commented on #96
Here is an updated version of that monstrosity that runs as a system service on the docker host:

**vstsdockermonitorservice.yml**
[code]

You can install it by calling the recipe against a host like so:
`ansible-playbook -i "12.34.567.891", vstsdockermonitorservice.yml`

Seems to work. ¯\_(ツ)_/¯

[2018-07-29 06:25] waschhauser opened #123 "Unable to build vs2015 image"
I tried to build the vs2015 image with your Dockerfile, but it failed. The creation of the image never finished. I tried it several times. But every time the same situation. I also tried to build the vs2015 image based on windows core server 1709 and windows core server 1803. But also, the same situation. The creation never finished.

Than tried to install vs2015 on windows core server 1803. Durin

[2018-07-30 14:52] cocowalla commented on #1
Almost another half year has passed, so I figure this is worth a bump. @stepro, is there any chance of getting a Windows VSTS agent published to Docker Hub?

I need the full .NET Framework (amongst other Windows-only things), so a supported, pre-built Windows image would be great.

[2018-07-31 22:01] mitchell-johnson opened #124 "On-Prem SSL configuration"
Hi all

I am trying to connect to my on-prem install of tfs 2018 with this agent and am having issues with the SSL configuration

using image `microsoft/vsts-agent:ubuntu-16.04-tfs-2018-u2`

The url I am trying to connect to is https://myorg.com
and when I run `curl https://myorg.com` it succeeds but when I run start.sh I receive in the logs the following when I try to run start.sh
`GET request to

[2018-08-04 23:38] dparkar opened #127 "conda: command not found"
Tested with two images tagged "ubuntu-16.04-standard" and "latest", conda doesn't seem to be in PATH.
![image](https://user-images.githubusercontent.com/208161/43681325-c6932964-9804-11e8-82b3-a923e60a4ee6.png)

[2018-08-06 18:02] dakale commented on #127
Please see https://github.com/Microsoft/vsts-agent-docker/pull/128 for justification of why this doesnt work well within the context of existing image functionality

[2018-08-06 18:02] #127 closed

[2018-08-06 18:40] dakale commented on #124
Where did you pass `--sslskipcertvalidation`? The images start the agent like so: https://github.com/Microsoft/vsts-agent-docker/blob/master/ubuntu/tfs/start.sh#L61

I think adding `${VSTS_SSLSKIPCERTVALIDATION:+--sslskipcertvalidation} \` to the launch options would work:

[code]

then you would run the container with -e VSTS_SSLSKIPCERTVALIDATION=true

I dont have an environment set up at the mo

[2018-08-06 21:19] mitchell-johnson commented on #124
Thanks @dakale Ill take a look now and report back

[2018-08-07 01:04] mitchell-johnson commented on #124
That change seemed to have no effect. Logs are the same and I have verified that start.sh is correct
`
./bin/Agent.Listener configure --unattended \
  ${VSTS_SSLSKIPCERTVALIDATION:+--sslskipcertvalidation} \
  --agent "${VSTS_AGENT:-$(hostname)}" \
  --url "$TFS_URL" \
  --auth PAT \
  --token $(cat "$VSTS_TOKEN_FILE") \
  --pool "${VSTS_POOL:-Default}" \
  --work "${VSTS_WORK:-_work}" \
  --repla

[2018-08-07 13:44] dakale commented on #124
Hm, thats too bad. Just to be sure, did you run the container with `docker run -e VSTS_SSLSKIPCERTVALIDATION=true`? I want to make sure that flag would actually be set.

If you did pass that into the environment, would you mind trying changing the start.sh to just hardcode `--sslskipcertvalidation` instead of having it inside the parameter substitution? If you did already try that, let me know and

[2018-08-07 20:01] mitchell-johnson commented on #124
@dakale I must have missed something the first time. I am still having SSL issues but the error is slightly different now. In the logs I see the flag has been passed
[code]

[2018-08-08 14:25] dakale commented on #124
Im still investigating but I found a similar issue: https://github.com/Microsoft/vsts-agent/issues/1440,
although this relates to installing your certs rather than ignoring them altogether.

@TingluoHuang Do you know off the top of your head why there would be SSL errors in the agent even when attempting to ignore with `--sslskipcertvalidation` ?

[2018-08-08 18:05] dwj300 opened #130 "Add sqlcmd to linux hosted preview image"
The MySQL client is there, could we also get the sqlcmd installed?

[2018-08-08 18:25] dakale commented on #122
I added the `google-chrome` package: https://github.com/Microsoft/vsts-agent-docker/commit/cf55875fb42b55a0f68419df844b2d90d4d40e19

Ill close this when it is deployed to hosted pools, but the updated images are pushed and you can try them out if you run it as a private agent

[2018-08-08 18:29] dakale commented on #122
Actually, since this related to Hosted Pools, please track the progress here: https://github.com/Microsoft/vsts-image-generation/issues/181

From the Docker image perspective, this is complete.

[2018-08-08 18:29] #122 closed

[2018-08-08 18:31] stewx commented on #122
Can you confirm if CHROME_BIN gets set as part of the installation?

[2018-08-09 14:45] joaoasrosa opened #131 "How to start a new VSTS Docker Agent each build?"
Hi,
I can't find information on how to start a new VSTS Docker Agent each time a build is triggered.

Perhaps is a chicken and egg problem, but the ideal scenario is:
1. Code commit
2. Start the container with capabilities
3. Run the build process inside of the container
4. Stop and dispose of the container after the build finish (successful or failure)

Any documentation around this scenario?

Th

[2018-08-17 21:11] dwj300 opened #134 "links to dockerfiles are stale"
example: https://github.com/microsoft/vsts-agent-docker/blob/cf55875fb42b55a0f68419df844b2d90d4d40e19/ubuntu/14.04/Dockerfile

should be master branch not the specific blob

[2018-08-19 19:30] joakimhellum-in opened #136 "suggestion to add terraform tool"
Hi, `terraform` is very popular tool used in VSTS pipelines to deploy Azure infrastructure. It would be great if it could be added to the VSTS Agent Docker Image. There is no official VSTS task for `terraform` yet. Thanks.

[2018-08-19 19:30] joakimhellum-in commented on #136
created PR #135 as a proposal to add `terraform` tool. thanks for your consideration.

[2018-08-19 20:13] kbdavis07 commented on #131
I am thinking of the same thing, but so far could not find any documentation or examples doing this.

[2018-08-20 14:35] joakimhellum-in commented on #136
PR #133 fixes this. Thanks alot for your help :)

[2018-08-20 14:35] #136 closed

[2018-08-20 16:45] dakale commented on #134
The links are intentionally to a blob. It represents the exact Dockerfile that was used to generate whatever image is currently pushed to the repository. Theres definitely tradeoffs to either approach but its not something I plan to change without overhauling the entire README. You can still browse those links to find paths to relevant Dockerfiles, even if it doesnt take you directly to the file o

[2018-08-20 16:45] #134 closed

[2018-08-28 14:22] MadsBogeskov opened #137 "An error occurred while sending the request."
TFS Version: 16.122.27409.2

I am trying to create a docker image for a build agent for my organization.

The Dockerfile I have created is looking like this:
[code]

However when I run the docker container I keep getting this:
[code]

Is there anyway to get more verbose information about what went wrong?

[2018-08-28 21:09] gravufo commented on #131
This isn't an actual solution, but it should help you start your own setup to do something like that: https://www.noelbundick.com/posts/serverless-vsts-build-agents-with-azure-container-instances/

It definitely isn't integrated in TFS/VSTS right now AFAIK. I would also like to do something like this in the future. If by then Microsoft implements the feature, I'll be very happy!

[2018-08-28 21:15] joaoasrosa commented on #131
Hi @gravufo,

Thanks for sharing your solution. I had something like that in mind. I would imagine the VSTS engine will work on the same way (at the moment the offer of Microsoft Hosted Agents does the spin up/teardown).

[2018-08-28 21:58] joaoasrosa commented on #131
Thanks for the heads up. Anyway, you gave a resource to do it.

[2018-08-29 10:36] Alirezanet opened #138 "issue with Visual studio online"
vsts-agent not working in docker with vsOnline but everythings is fine when i manually download agent from vsonline website.

Run command:
![run](https://user-images.githubusercontent.com/7004080/44782572-e7fa7980-ab9c-11e8-93be-4a317959198f.PNG)

Agent Pool status:
![agent pool](https://user-images.githubusercontent.com/7004080/44782584-f183e180-ab9c-11e8-963a-2799b05a7c57.PNG)

every job will fa

[2018-08-30 08:58] MadsBogeskov commented on #137
For following up on this. A way to debug this scenario is to run `docker cp <container_instance_id>:/vsts .` which will copy the vsts directory from the crashed container into the same directory. In there you can see the _diag directory with the log file.

The problem in this case seems to be that the TFS server doesn't have a valid SSL certificate.

[2018-08-30 16:00] dakale commented on #137
Thanks for following up with this, I think it will be useful for others. Copying logs out is definitely a better solution than committing the crashed container and shelling into it. There may be a way to redirect the agents logs to stdout so it will show in the docker logs, ill look into that as well and drop an update here if I find out.

Marking this as resolved for now

[2018-08-30 16:00] #137 closed

[2018-08-31 18:15] mathieu-benoit opened #139 "Add a GitHub Release/Tag for each new version"
Hi there, is it possible/relevant to add a new GitHub Release/Tag for each new version/image of the VSTS-Agent-Docker? I know there is already the Docker image tag itself in DockerHub, but was just wondering if you could also add this part in GitHub. Thanks!

[2018-09-04 14:26] dakale commented on #139
This is a good idea for something we may consider in the future, but I would want to have some more automation around building in place first. Not interested in manually updating releases when I build these images.

Will leave open for now and revisit when it makes sense

[2018-09-04 15:02] dakale commented on #131
Mostly duplicate of https://github.com/Microsoft/vsts-agent-docker/issues/33

Summary: This has been asked for a lot and is something being worked on.

[2018-09-04 15:02] #131 closed

[2018-09-04 15:26] kbdavis07 commented on #33
Is there a way to have a VSTS Task to use Azure Container Instances?

Have it work similar to the Azure Web App and other Tasks run on VSTS?

Ability to link to subscription and etc, and in the actual task just include the Azure Container Instance info that is needed to run the Container?

[2018-09-08 16:32] dparkar opened #142 "Upgrade image to use latest pip package"
Seeing the following warning when installing any package :
e.g. : pip3 install wheel setuptools
You are using pip version 8.1.1, however version 18.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

I can upgrade in my dockerfile, but was wondering if there are plans to upgrade the base image so everyone doesn't have to.

Please note that after pip version

[2018-09-10 17:16] spowser opened #143 "Build Agent 2.140.0 not discovering Yarn as a capability"
We have identified a case where Yarn is not being listed as a capability by the agent even though it's installed.  It seems to be intermittent as some containers are reporting it ok and others are missing it.

microsoft/vsts-agent:ubuntu-16.04-standard

![yarn1](https://user-images.githubusercontent.com/3085375/45313035-8d3d1800-b4e2-11e8-8bb8-362834d20419.PNG)
![yarn2](https://user-images.githubu

[2018-09-11 07:51] jordimontana82 opened #144 "linux hosted tool cache and disk usage"
Hi!

Firs of all, thx a mill for setting up these docker files, they're amazing.

This is more of a question really, as I was setting up a custom vsts docker image based on the standard one, and was wondering, what does the [hosted tool cache contains?](https://github.com/microsoft/vsts-agent-docker/blob/3049d0142e09ba09ff090e9d763f8eadedab89de/ubuntu/16.04/standard/Dockerfile#L544-L545)? As it is

[2018-09-11 16:05] dakale commented on #144
The hosted tools cache is a few (maybe ~4) versions of python and ruby. They are used in ~VSTS~ Azure Pipelines to quickly select which version of the tool you want to put on the PATH for the context of the build.

If you are extending the images, please consider using just the vsts-agent:ubuntu-16.04, or 14. You probably dont need standard. All that does is pull in a universe of different tools t

[2018-09-11 16:05] #144 closed

[2018-09-12 09:07] jordimontana82 commented on #144
Great, thx for your quick reply!

[2018-09-12 14:49] MedAnd opened #145 "Service Fabric CI/CD support for Linux Azure DevOps Agent pools"
Currently the [Microsoft-hosted Linux pools](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=vsts&tabs=yaml) do not have the Service Fabric SDK installed. Since the Linux agent pools [run on an Ubuntu Linux host inside the vsts-agent-docker container](https://github.com/Microsoft/vsts-agent-docker), consider adding support for the Service Fabric SDK. This will enable rap

[2018-09-18 21:26] borigas opened #146 "Add Docker Agent to Deployment Group"
Is there a way to add a docker agent to a deployment group?

[2018-09-19 17:05] dakale commented on #146
Its possible but not something we officially support, plan to support, or recommend. These images are for disposable build environments, primarily.

If you want to deploy your software as containers, you should build your containerized application in a build pipeline, rather than copy your application into a container after the fact using deployment groups, and deploy to one of the various contain

[2018-09-19 17:05] #146 closed

[2018-09-21 15:56] jabbera commented on #33
@dakale might you have something for ignite? :-)

[2018-10-01 17:54] mjwoodsphx commented on #55
I have attempted to follow chechunqwer's instructions and createed a new image for docker as we also don't have TFS enalbed with SSL at the moment.  However, no matter what I do I get the dreaded "exec format error".  I have researched this to death and all paths lead to windows formatting being used in the files.  I have converted them to Linux format and still get this error.

Will it be possibl

[2018-10-03 16:36] cdietschrun opened #147 "Pipeline running container fails to initialize if user doesn't have access to usradd"
Trying to run our build pipeline through a container which in one of it's last steps in its Dockerfile does

`USER not_root`

This eventually leads to this error in the ADO log

`2018-10-03T15:39:31.2416691Z ##[command]/usr/bin/docker exec  30787dcf0f953ac090473db3f46e2930fa4f9e4f8658596d454dd5ed4f1734be bash -c "grep 1001 /etc/passwd | cut -f1 -d:"
2018-10-03T15:39:31.5814245Z ##[command]/usr/bin

[2018-10-03 17:12] dakale commented on #147
This is general feedback about the broader run-in-a-container feature. This repo is specifically for building Docker images containing the agent. Ill forward this to the correct place

[2018-10-03 17:12] #147 closed

[2018-10-03 17:20] chrisrpatterson commented on #147
@cdietschrun you can add an options key to the container resource with additional command line arguments  that are passed to the docker run command.  Adding -u 0 will make the container start with UID 0 and things should work properly from there.

[2018-10-03 17:30] chrisrpatterson commented on #147
I thought it was documented but I just realized it is not. I am putting a PR in for the docs now.

[2018-10-04 07:15] maciejmaciejewski opened #148 "Update documentation with dm.basesize dockerd option"
By default dockerd uses 10 GB of storage space which in case of larger images can be not enough.
After starting the vsts-agent container you will get message No space left of device and the container will shut down.
This can be fixed by adding CLI option to docker daemon startup command or by modyfying json config

dockerd --storage-opt dm.basesize=20G

[2018-10-07 16:13] misnor opened #149 "Clang does not appear to work"
I started the agent, connected it to VSTS/Azure Pipelines and triggered a build. When CMake runs it is complaining about Clang not being in the PATH. I can see in the [Dockerfile](https://github.com/microsoft/vsts-agent-docker/blob/f1a2b55a7aeac237ee5ce3fb29b4ed37053462dd/ubuntu/16.04/standard/Dockerfile#L58) that it installs clang, but the comment:

seems to indicate some sort of issue. Does my h

[2018-10-08 14:20] dakale commented on #149
Hi @misnor . Clang is actually installed as `clang-6.0` which should be in the PATH. If you have a lot of calls to `clang` in some scripts that either you cant or dont want to change, you can run something like:

[code]

in a script as a first step in your build to map `clang-6.0 -> clang`

To answer your question, the host os doesnt matter. I think "only" works on xenial on meant that it at least

[2018-10-08 14:20] #149 closed

[2018-10-08 19:30] misnor commented on #149
Thank you for the quick response, David - this worked perfectly.

[2018-10-11 12:46] danielhalati commented on #46
Does anyone installed VS 2013 Express inside Docker? I cannot use Build Tools 2015. I need 2013 compiler. I am using this image microsoft/windowsservercore:10.0.14393.1358

The command I am running to install is:
RUN "C:\\wdexpress_full.exe \Q"

Nothing happens, it just hangs there for several minutes.

[2018-10-13 07:07] MedAnd commented on #145
Hi @shashban, any update on this? Thx.

[2018-10-17 23:08] scottzilla opened #150 "VSTS Jobs Aren't Queuing Correctly"
I currently run two agents in my AKS cluster for numerous build and release pipelines, and the bulk of our jobs simply run bash tasks.

When multiple build or release jobs get triggered in close proximity the jobs don't queue up properly and the agents just start executing multiple jobs in parallel; the agents appear to be "idle" / ready for the next job despite having just starting a job seconds

[2018-10-18 13:49] MikkelHegn commented on #145
@pulkitaggarwl @bishal-pdMSFT

The main thing is being able to deploy to a cluster endpoint. Bringin SFCTL in to the container would be one option. Having a taks around SFCTL for deploying would be the better option.

[2018-10-18 14:04] MedAnd commented on #145
@MikkelHegn - for a .Net Core Linux Service Fabric project wondering which template should be used:

![image](https://user-images.githubusercontent.com/13365135/47160052-d5015b80-d33a-11e8-95fa-283908e3ed5c.png)

[2018-10-19 11:02] MedAnd commented on #145
@MikkelHegn - I think developers would still prefer 1st class support for Service Fabric Linux projects in the form of above Azure DevOps templates, and also ability to deploy to a target SF cluster from the Linux VSTS agent (unless this is contrary to other plans)?

[2018-10-19 16:10] bishal-pdMSFT commented on #145
@pulkitaggarwl can you please follow up on this?

[2018-10-22 16:07] TingluoHuang commented on #124
@mitchell-johnson
did you pass the right PAT?
[code]

PAT suppose to be 52 chars, why you get 38 chars?

[2018-10-25 10:55] fabiostawinski opened #151 "vsts-agent in OpenShift"
Hello, I run the agent in my machine and it works just perfect. Then I pushed my image to openshift, then I got some permission denied issue:
`./start.sh:` line 19: /vsts/.token: Permission denied

I tried to find how to give these permissions within OpenShift, but I was not able to find yet, someone has any idea?

[2018-10-25 15:59] mathieu-benoit opened #152 "Ansible version is not the latest one, it's an old one (2.0.0)"
The Ansible version installed is 2.0.0 but it's not the latest one (as we speak): 2.7.0.
We need to update the way we install Ansible:

Instead of:
[code]
We should do:
[code]

Resources:

- https://docs.ansible.com/ansible/2.4/intro_installation.html#latest-releases-via-apt-ubuntu
- https://blog.programster.org/ubuntu-16-04-install-ansible

[2018-10-26 09:50] SurushS commented on #54
I've recently had the same issue. We've been running our vsts agents (microsoft docker hub images with ubuntu) for almost a year now on our AKS cluster (first preview, then GA, now GA with RBAC enabled). We've never changed the deployment yaml (which pretty much looks identical to the one mentioned in the thread). However, it seems that every three days or so the agents lose connection with the do

[2018-10-26 12:26] ddkserv opened #153 "VS2015 Dockerfile has issue with ANT"
I did a installation with the dockerfile for VS2015 and found that the ant version fails during installation. Docker-compose up

`RUN  choco install ant --version 1.9.4.2 --confirm` can fix it.

Thanks.

[2018-10-26 14:32] dakale commented on #151
Great. Closing for now, let me know if you run into any more issues

[2018-10-26 14:32] #151 closed

[2018-11-02 09:01] suveerrao opened #156 "Unable to stdout the container logs."
we are using "microsoft/vsts-agent:ubuntu-16.04" image to run out CI/CD pipelines. Everything is working fine. But when I am trying to send cron job output to stdout nothing is coming in the "docker logs -f <containerid> " other than the below. How to get logs to stdout?

[code]

[2018-11-02 09:53] suveerrao commented on #156
Apologies..

echo " Hello " > /dev/console is working..

[2018-11-02 09:53] #156 closed

[2018-11-04 19:09] AceHack opened #157 "Please support windows server 2019"
This includes for host and containers.

Thanks.

[2018-11-06 11:31] juliuszfedyk opened #158 "Are there any TFS 2017 still supported"
Hi,

Are there any TFS 2017 images still supported, or are we supposed to use some other  versions?

[2018-11-06 11:41] juliuszfedyk commented on #158
Scrap that.
I found that

microsoft/vsts-agent:ubuntu-14.04-tfs-2017

works, so it would seem tfs-<version> should work

[2018-11-06 11:41] #158 closed

[2018-11-07 01:04] jeffmartinxyz opened #159 "Intermittent connectivity from vsts-agent to docker daemon on AKS"
I'm working with @SurushS to resolve intermittent vsts-agent / docker daemon connectivity on AKS. He posted the below comment on [54](https://github.com/Microsoft/vsts-agent-docker/issues/54#issuecomment-433353440), but I don't think it has been seen since the issue was closed.

[2018-11-07 11:49] MedAnd commented on #145
@bishal-pdMSFT @pulkitaggarwl - any update.. thx?

[2018-11-12 12:35] pulkitaggarwl commented on #145
Thanks  a lot @MedAnd  for following up and I acknowledge the request.

We have added this to our backlog and will try to deliver on this  as early as possible.
 In the meanwhile, it will really help if you introduce this request to our [user voice](https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services?category_id=145269).
Similar feedback from community will help us provide

[2018-11-16 10:10] AshokPadarthi opened #160 "OMS agent sporadically dying after daily cron job execution and not sending any more data afterwards"
Problem Description:

We are running OMS-agent-forlinux as a demonset for all or agent nodes and initally all the oms-agnets send the data , Everyday around 6:30 AM some agent stops sending data to log-analytics untill after a few days no agent is left sending data.
Observation:
The last  container process logs from dying OMS agents shows  that cron job execution has just started
The pod is runnig

[2018-11-17 13:57] MedAnd commented on #145
@pulkitaggarwl https://developercommunity.visualstudio.com/idea/385310/service-fabric-cicd-support-for-linux-azure-devops.html

[2018-11-18 01:50] drch- opened #161 "Future of this repo after Hosted Linux Preview pool deprecation?"
The hosted Linux preview pool will be retired in a couple weeks

Is this repo going to continue to be updated with the latest tools installed on the hosted Ubuntu pool?  Or will it be deprecated along with the preview?

[2018-11-18 02:47] anand5555 opened #162 "MS Build Version changed from 15.6.0.0 to 15.1.8.0"
I am using hosted agent image for our builds and recently  as we have increased number of build requests, and i have setup a new server and pulled the hosted image and started more agents to support our builds. But nuget restore was failing  with below error. /usr/lib/mono/msbuild/15.0/bin/Sdks/Microsoft.NET.Sdk.Web/Sdk/Sdk.props(27,3): error : Version 2.1.302 of the .NET Core SDK requires at leas

[2018-11-19 16:55] muziekklas opened #163 "containeragent lost communication with the server"
Hey there,
First of all, Great work of making the build agent available in Docker!
I have a Angular Build which takes some time (AOT & Maps are taking a while).
I've used the Ubuntu 16.04 docker file (slightly adapted it so I have all capabilities) but it keeps failing with the message in Azure Devops:
The agent: containeragent lost communication with the server. Verify the machine is running and

[2018-11-19 21:52] dakale commented on #163
I would guess it is an issue with connectivity in ACI

If the agent container is able to start and connect to Azure Pipelines, and start the job, then youve certainly configured and started the agent correctly

Did you modify the start.sh script for your image?

[2018-11-20 05:39] muziekklas commented on #163
Thank you for your quick reply!
Well, I have only removed dependencies like php and stuff which I didn't need.
I didn't change the startup file.

Any ideas why devops is losing coonectivity to ACI?  Could it be that the container restarts cause its host thinks it crashed?

Thanks in advance

[2018-11-20 13:35] virasana commented on #94
What is the volume mapping if running on a Windows host?

[2018-11-21 16:32] muziekklas commented on #163
I've made a discovery today. When building a complex angular project with tons of features, it crashes (nodejs heap exception). When I build the new project which is still small, no issues at all. So I assume that it is the Memory issue in Angular CLI in my case. Ill keep researching the issue  and keep you guys posted

[2018-11-21 17:10] dakale commented on #163
Thank you for the update @muziekklas

@magnock - because you are in Kubernetes and this issue seems related to the container using too much memory and getting killed, you may need to set resource (memory) requests for the pod matching the expected memory usage of your build so that pods will not get over scheduled on nodes and exhaust the memory. Are you also using angular?

@muziekklas I found th

[2018-11-26 10:03] sleppin opened #164 "docker-compose fails on ubuntu agent "invalid reference format""
I am running a vsts-agent inside a kubernetes cluster. (microsoft/vsts-agent:ubuntu-16.04-docker-18.06.1-ce-standard).

When I try to run a build step from azure pipelines docker-compose exits with the following error:

`Service 'xyz' failed to build: Error parsing reference: "microsoft/dotnet:2.1-aspnetcore-runtime AS base" is not a valid repository/tag: invalid reference format
/usr/local/bin/do

[2018-11-26 15:21] dakale commented on #164
The multistage build syntax requires a minimum version of the docker daemon on the host (https://docs.docker.com/develop/develop-images/multistage-build/)

Are you running in AKS, some other hosted K8s service, or is this on minikube/Docker-for-Windows (with K8s orchestrator)?

You should be able to run `docker info` on the machine where the agent is running or just as a step in your build, and se

[2018-11-26 20:51] dakale commented on #162
It looks like maybe mono mistakenly included msbuild 15.1.8 instead of 15.8. Regardless, I updated the ubuntu-16-based images (including latest), they should now be have msbuild 15.8. You should be able to pull updated images

Let me know if you have an issues

[2018-11-26 20:51] #162 closed

[2018-11-27 14:44] azooinmyluggage commented on #159
Hi @jeffmartinxyz,
Can we have a call to troubleshoot this?

Atul

[2018-11-28 09:02] ddkserv opened #165 "VS2015 docker file (.net core SDK download 1.0.0-preview3-004056)"
1.0.0-preview3-004056 cannot be downloaded.
1.0.0-preview2-003156 should be used instead.

[2018-11-29 03:33] AceHack commented on #157
Any update on 1809?

[2018-11-30 07:01] mitchell-johnson commented on #124
Thanks for the reply @TingluoHuang I should have been but Ill double check my config on Monday

[2018-12-05 09:04] inputfalken opened #167 "Missing dotnet sdk-2.2"
We are currently using this [DockerFile](https://github.com/microsoft/vsts-agent-docker/blob/d9c72fb5d961e37843d8dd0274fb5346022d6852/ubuntu/16.04/docker/18.06.1-ce/standard/Dockerfile) and cannot upgrade to dotnet sdk-2.2.

Would be nice if dotnet sdk-2.2 would be available for Azure DevOps.

[2018-12-14 08:19] renardguill commented on #167
Please Microsoft, fix this issues.

[2018-12-18 07:34] nodsod commented on #167
Yes please! Very frustrating then trying to build a release to Azure

[2018-12-28 17:53] jdamore opened #168 "SSL certificate subject name error with Azure Devops"
Hi,

I am trying to launch a microsoft/vsts-agent:ubuntu-16.04-docker-18.06.1-ce-standard VSTS agent in our Azure Kubernetes cluster, to be used with our instance of Azure Devops https://deloittedigitalat.visualstudio.com.

I am currently passing the following values in the kube template: VSTS_ACCOUNT, VSTS_TOKEN, and VSTS_POOL.

When the agent starts, I get the following error:

[code]
I looked a

[2018-12-28 18:57] #168 closed

[2018-12-28 18:58] jdamore commented on #168
I appeared that I had the wrong VSTS_ACCOUNT. Now that I have set the VSTS_ACCOUNT to deloittedigitalat, the curl command succeeds.

[2019-01-10 10:01] ljani commented on #167
This is fixed by https://github.com/Microsoft/vsts-agent-docker/pull/169 when it gets merged.

@stepro ping.

It's starting to feel like `vsts-agent-docker` is a second class citizen and we should start building the images ourselves. This image seems to updated with a huge delay when for example a new `dotnet` version or TFS version is released.

[2019-01-11 14:49] andylockran opened #170 "Handling SIGKILL when running jobs..."
If a job received a SIGKILL during processing, it successfully deregisters itself from VSTS.  Unfortunately if there is a job running, that job simply fails.

I'd like to implement a workaround, of setting an optional timeout between attempting to kill an agent, and the job being completed.

[2019-01-11 14:52] mmisztal1980 commented on #10
I've just run into this while running my containers with:

`docker run -d --name  build-agent_1 -e TFS_HOST=$TFS_HOST -e VSTS_TOKEN=*** -e VSTS_POOL=$POOL -v /home/tfsservice/agent/microsoft/vsts-agent_1:/vsts/agent/_work -v /var/run/docker.sock:/var/run/docker.sock microsoft/vsts-agent:ubuntu-16.04-tfs-2018-u3-doc
ker-18.06.1-ce`

I keep getting a:

[code]

None of my dockerized agents connect to

[2019-01-14 05:04] mrsmitty opened #172 "Support for sqlpackage 15.0.4240.1"
Request for the inclusion of sqlpackage. sqlcmd and bcp are already included.

Version 15.0.4240.1 is available for linux:
https://docs.microsoft.com/en-us/sql/tools/sqlpackage-release-notes?view=sql-server-2017

This is required for the publishing of database SQL Server DACPACs

Thanks

[2019-01-14 07:32] enricforn commented on #10
@mmisztal1980 I've created a new agent by adding a new credential configuration. You can check it out at https://github.com/enricforn/vsts-agent-docker

[2019-01-14 09:33] mmisztal1980 commented on #10
just found what the issue was, I was supplying `https://tfs.mydomain.com/tfs` to the agents instead of `tfs.mydomain.com`

[2019-01-15 13:46] grahamsk opened #173 "How do I disable auto-update on ubuntu 16.04 containers"
Hi All,

I would like to disable auto-update for my vsts agents running on ubuntu 16.04 docker containers.

Could you please let me know how I go about doing this?

Thanks,
Graham

[2019-01-15 20:02] dakale commented on #167
Latest images on dockerhub will now have 2.2

If you need the latest versions of software as soon as they are released, I recommend building your own images based off either vsts-agent:ubuntu-14.04 or 16.04 and installing what you need on there. Keeping all the images up to date with the latest of everything, while not moving too fast and breaking people has been a challenge. Additionally, even so

[2019-01-15 20:02] #167 closed

[2019-01-15 20:08] dakale commented on #161
See my comment [here](https://github.com/Microsoft/vsts-agent-docker/issues/167) for a little more info. We moved to generating VM images to support the hosted pools, and there is far too much on each image to be useful in container scenarios (dozens of GBs), so there are no plans to keep the set of software installed in these container matching the software on the hosted machines.

I want to enco

[2019-01-15 20:08] #161 closed

[2019-01-15 20:11] dakale commented on #173
There is some information on that here: https://github.com/Microsoft/vsts-agent-docker/issues/63

In general, depending on exactly what you mean, the answer will be "you cant", because the agent needs to be up to a minimum version to match functionality with Azure DevOps apis, which are hosted and move forward.

For on prem, the TFS tagged images download a set agent version and do not move forwar

[2019-01-15 20:11] #173 closed

[2019-01-21 09:36] bishal-pdMSFT commented on #145
Just bringing Service fabric SDK to Ubuntu agent will not be sufficient to deploy to cluster. The current Service fabric deploy tasks are designed to work on windows agent only and with windows SF SDK.

What we need is to either have:
1. sfctl installed on agent and then possibly having a separate sfctl based deploy/script task to deploy to cluster
2. or use HTTP client based deploy task which mak

[2019-01-21 10:32] MedAnd commented on #145
@bishal-pdMSFT - appreciate the update however I thought sfctl is part of the Service Fabric SDK for Linux?

On my local Linux development VM I cannot remember installing it separately but hoping @MikkelHegn can confirm.

[2019-01-21 15:09] MikkelHegn commented on #145
What @bishal-pdMSFT says :-) Bringing sfctl alone is only half the way, there are no OOB task supporting using sfctl.

[2019-01-21 22:20] MedAnd commented on #145
@MikkelHegn - when you say there are no OOB tasks you mean Service Fabric steps in Azure DevOps supporting sfctl?

Discussed in other threads but having a consistent, cross platform Service Fabric workflow using PowerShell Core would be the best option... any progress in this direction you can share @MikkelHegn  ☺️

[2019-01-22 08:15] MikkelHegn commented on #145
Yes that is what I'm referring to.
For the second question, we have released the HTTP based core modules in preview: https://www.powershellgallery.com/packages/Microsoft.ServiceFabric.Powershell.Http/1.0.3-preview1 source: https://github.com/Microsoft/service-fabric-client-dotnet

[2019-01-23 07:32] olljanat commented on #1
@stepro if I create template for this can we then get VSTS agent for Windows published to Docker HUB?

As Windows Server 2019 is already released and it also supports mounting Docker named pipe ( npipe:////./pipe/docker_engine ) inside of container I think that it is good idea to only support it for now.

It is easiest to start from *docker* image which would contain:
* LTSC version of OS: *mcr.mi

[2019-01-23 07:35] olljanat commented on #157
@AceHack as there is no Docker images available for any Windows versions yet it is better to follow general issue about it. Anyway I plan to create template for this if I get confirmation that it will be released to Docker HUB. Look https://github.com/Microsoft/vsts-agent-docker/issues/1#issuecomment-456699288

[2019-01-23 07:45] AceHack commented on #157
I’m looking for the same as “Hosted Windows Container” but for 1809 I.e. Windows Server 2019.

[2019-01-23 07:53] olljanat commented on #157
Ok. I think that those are created from https://github.com/Microsoft/azure-pipelines-image-generation/ so maybe better to create issue to there.

This repository provides Docker images to https://hub.docker.com/r/microsoft/vsts-agent

[2019-01-25 12:23] noadmin opened #174 "Slim agent for docker"
Hi all,
Is it any chance to get really small agent for docker from stock? I'm talking about not including all those unneeded extensions such as chrome, nodes etc. For example on Alpine base. Because, `ubuntu-16.04-standard 4 GB` is overkill for modern ci/cd.
Regards.

[2019-01-25 15:50] dakale commented on #174
`ubuntu-16.04` (not standard) is just a plain image without any extra tools installed. Its Ubuntu based so not as slim as alpine but its only ~300mb uncompressed vs `*-standard` which are ~10gb uncompressed

Hope that works for you. We have no plans to release an alpine based version of this in the near future because the agent itself has glibc dependencies and the work hasnt been done yet. A lot

[2019-01-25 15:50] #174 closed

[2019-01-28 15:36] junkiebev opened #175 "Is there/can there be a healthcheck service?"
Looking inside the container, I see that `port 80` is open for connections and if i hit it with
`$ curl -Lvvv http://localhost`
it spits out a redirect to our visualstudio.com instance

Would it be possible to (perhaps conditionally) add a location like `/healthz` which would just return a `200` response and blank response for getting container health and making scheduling decisions with health ch

[2019-01-31 16:07] dennisvanderpool commented on #54
Thanks, this was it for me.

`docker run -v /var/run/docker.sock:/var/run/docker.sock -e TFS_URL="https://*****.com/tfs" -e VSTS_TOKEN=mq2af6y****bq --rm -it microsoft/vsts-agent:ubuntu-16.04-tfs-2018-u2-docker-18.06.1-ce-standard
`

[2019-02-07 14:45] fthkucuk opened #177 "http issue"
Hi,

I use on-premise TFS with HTTP. I checked to start.sh and TFS_URL variable, not compatibility with HTTP.

[2019-03-15 22:54] gabrielfsousa commented on #168
i have the same problem, how i know to put on VSTS_ACCOUNT ?

[2019-03-22 12:28] danielearwicker commented on #63
Running with "-e agent.disableupdate=true" doesn't appear to help the situation. Once Azure DevOps asks the agent to update itself, it also no longer schedules any work to that agent, so it is effectively disabled after it has been asked to update.

[2019-03-28 03:08] daveneeley commented on #175
[undocumented](https://github.com/MicrosoftDocs/vsts-docs/issues/285) workaround asking VSTS for the status of the agent:

Get the pool id for the agent
`https://<name>.visualstudio.com/_apis/distributedtask/pools?api-version=5.0-preview.1`

Get the list of agents `https://<name>.visualstudio.com/_apis/distributedtask/pools/<id>/agents?includeCapabilities=false&includeAssignedRequest=true`

Find t

[2019-03-28 19:47] ronnytag233 commented on #168
@gabrielfsousa  i have same problem, how did you figure out this?

[2019-03-29 13:59] arvalaan commented on #168
You have to use {{your_organization}} variable.

[2019-04-09 21:20] capdragon opened #179 "install smbclient"
Can you install/include smbclient on the images?

[2019-04-22 20:10] bricerisingslalom commented on #174
Outside of the os, the current vsts agent comes with a lot of packages installed on it that makes the image extremely large. Could we get a distributed image that only comes with the vsts agent installed on it on the ubuntu base image so that we can choose our own dependencies to install on it?

[2019-05-10 12:57] PeterRockstars opened #180 "Update kubectl"
Hi,

We are running into issues with kubectl which should be fixed in the current version. Locally we use version 1.14.0 and that version does not have the issues.

Is it possible to update kubectl in the images?

[2019-05-20 09:14] biswajeetbehera commented on #22
#I am getting below error while trying to build an image
#E: Unable to locate package oracle-java8-installer‌

Get:2 http://ppa.launchpad.net trusty/main Sources [20 B]
Get:3 http://ppa.launchpad.net trusty/main amd64 Packages [20 B]
Fetched 15.5 kB in 5s (2737 B/s)
Reading package lists...
Reading package lists...
Building dependency tree...
Reading state information...
E: Unable to locate packag

[2019-05-21 09:30] Manu-Docker opened #181 "Visual Studio 2017 Build Tools fail to install in docker container"
Hi,

I'm a noob in docker and trying to create build environments. Here is my confusion:
--InstallPath does not create a dir inside container and Build Tools are not installing properly.
[12345.txt](https://github.com/microsoft/vsts-agent-docker/files/3201764/12345.txt)

This is my error logs and the dockerfile i used.
[DockerFile - Copy.txt](https://github.com/microsoft/vsts-agent-docker/files/32

[2019-06-24 09:13] matt-lethargic opened #184 "Azure CLI is out of date"
The version of Azure CLI on the Agent is 2.0.54 and the latest version is 2.0.67

There are some significant differences between there versions.

In particular for myself I cannot create a CDN Profile with the SKU of 'Standard_Microsoft' as this provider doesn't exist in version 0.2.0 of CDN that comes with this version of the CLI.

[2019-06-28 11:21] froblesmartin opened #185 "Edit Docker Hub description: add Deprecated note"
Hi!

Here in your repo you show that this is deprecated, but people reaching first to the Docker Hub repository, doesn't know about this.

You should upload this page to announce it: https://hub.docker.com/_/microsoft-azure-pipelines-vsts-agent?tab=description

Cheers!
Francisco Robles Martín

[2019-07-08 10:17] PirateBread commented on #185
Frustrating that MS don't also provide the docker images as they previously did.
Now I have to run a packer build to generate my _own_ image and create my own docker containers. I'm sure there's a good reason, it just feels like a backwards step when previously it would take a few minutes to deploy a VSTS agent from a docker image.

[2019-07-11 21:11] faur8 commented on #185
Hey @PirateBread what are you using currently instead of this image?

Thanks!

[2019-07-23 06:47] azooinmyluggage commented on #159
Closing this. Please let me know if you are still facing this issue.

[2019-07-23 06:47] #159 closed

[2019-07-30 11:35] cinmay commented on #168
@jdamore @gabrielfsousa @ronnytag233 After much searching i figured it out. The VSTS_ACCOUNT is the devops account name. You can get it from your devops urlhttps://dev.azure.com/"This is where you find the account name" or in the DevOps portal -> Organization Settings -> Overview- > Name

[2019-08-01 12:37] kwaazaar commented on #185
This repo seems abandoned as well. First link in the readme is already broken.

[2019-09-11 10:05] lfshr opened #187 "Support PowerShell core in Ubuntu images."
Trying to build out a job using the PowerShell task on the latest ubuntu-16.04 tagged docker container and getting the following error:
[code]

Task is the following:
[code]

[2019-09-13 08:28] lfshr commented on #187
Deprecated repo.

[2019-09-13 08:28] #187 closed

[2019-09-13 09:22] kirkone commented on #185
Hi @PirateBread and @faur8 you can have a look here:
https://github.com/codez-one/docker-azure-pipelines-agent
I started creating my own images. Please have a look and give some feedback.

Images can be found here:
https://hub.docker.com/r/czon/azdo-agent

[2019-10-04 12:05] #116 closed

[2019-10-04 12:05] #123 closed

[2019-10-04 12:05] #124 closed

[2019-10-04 12:05] #130 closed

[2019-10-04 12:05] #139 closed

[2019-10-04 12:05] #142 closed

[2019-10-04 12:05] #143 closed

[2019-10-04 12:05] #145 closed

[2019-10-04 12:05] #148 closed

[2019-10-04 12:05] #150 closed

[2019-10-04 12:05] #152 closed

[2019-10-04 12:05] #153 closed

[2019-10-04 12:05] #157 closed

[2019-10-04 12:05] #160 closed

[2019-10-04 12:05] #163 closed

[2019-10-04 12:05] #165 closed

[2019-10-04 12:05] #170 closed

[2019-10-04 12:05] #172 closed

[2019-10-04 12:05] #175 closed

[2019-10-04 12:05] #177 closed

[2019-10-04 12:05] #179 closed

[2019-10-04 12:05] #180 closed

[2019-10-04 12:05] #181 closed

[2019-10-04 12:05] #184 closed

[2019-10-04 12:05] #185 closed

[2019-10-04 12:06] #1 closed

[2019-10-04 12:06] #14 closed

[2019-10-04 12:06] #33 closed

[2019-10-04 12:06] #35 closed

[2019-10-04 12:06] #36 closed

[2019-10-04 12:06] #46 closed

[2019-10-04 12:06] #55 closed

[2019-10-04 12:06] #63 closed

[2019-10-04 12:06] #84 closed

[2019-10-04 12:06] #95 closed

[2019-10-04 12:06] #99 closed

[2019-10-04 12:06] #100 closed

[2019-10-04 12:06] #101 closed

[2019-10-04 12:06] #110 closed